{#
    Extract Management 2.0
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}
add "-1" or "+1" etc for time delta to any var
<br>
adding "-" after % will remove leading 0 in most cases
<br><br>
%f Microsecond (000000 - 999999)<br>
%S Second (00 - 99)<br>
%s DateTime as seconds<br>
%M Minute (00 - 59)<br>
%H Hour (24-hour clock) (00 - 23)<br>
%I Hour (12-hour clock) (01 - 12)<br>
%p AM or PM<br>
%a Weekday (Sun - Sat)<br>
%A Weekday (Sunday - Saturday)<br>
%w Weekday (0 - 6)<br>
%d Day of the month (01 - 31)<br>
%U Week number of the year (00 - 53)<br>
%W Week number of the year (0 - 53)<br>
%b Month (Jan - Dec)<br>
%B Month (January - December)<br>
%m Month (01-12)<br>
%y Year without century (00 - 99)<br>
%Y Year with centruy (0001 - 9999)<br>
%c Simple date time (Tue Aug 16 21:30:00 1988)<br>
%x Simple date (08/16/1988)<br>
%X Simple time (21:30:00)<br>