{#
    Extract Management 2.0
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see https://www.gnu.org/licenses/.
#}
{% assets "css_demo" %}
<link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}

<div class="demo-banner">
    <div class="demo-bannerLiner">
        <button type="button" class="demo-collapse"><div class="arrow"></div><strong>Welcome to the Extract Management 2.0 demo.</strong></button>
        <div class="demo-collapseContent">
            <p>
                Extract Management 2.0 was created by the Riverside Healthcare Analytics team -
                <ul>
                    <li>Paula Courville</li>
                    <li><a title="Darrel Drake" target="_blank" href="www.linkedin.com/in/darrel-drake-57562529">Darrel Drake</a></li>
                    <li><a title="Dee Anna Hillebrand" target="_blank" href="www.github.com/DHillebrand2016">Dee Anna Hillebrand</a></li>
                    <li><a title="Scott Manley" target="_blank" href="www.github.com/Scott-Manley">Scott Manley</a></li>
                    <li><a title="Madeline Matz" target="_blank" href="mailto:mmatz@RHC.net">Madeline Matz</a></li>
                    <li><a title="Christopher Pickering" target="_blank" href="www.github.com/christopherpickering)">Christopher Pickering</a></li>
                    <li><a title="Dan Ryan" target="_blank" href="www.github.com/danryan1011)">Dan Ryan</a></li>
                    <li><a title="Richard Schissler" target="_blank" href="www.github.com/schiss152)">Richard Schissler</a></li>
                    <li><a title="Eric Shultz" target="_blank" href="www.github.com/eshultz)">Eric Shultz</a></li>
                </ul>
                <br />Copyright © 2021 <a href="https://github.com/orgs/Riverside-Healthcare/" title="github url" target="_blank">Riverside Healthcare</a>, Kankakee, IL

                <br />
                <br />
                View the <a title="source code" target="_blank" href="https://github.com/Riverside-Healthcare/extract_management"> source code</a> on Github.
                <br />
                <br />
                Read the <a title="source code" target="_blank" href="https://docs.extract.management">documentation</a> on Github.
                <br />
                <pre>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <a title="gnu license" href="https://www.gnu.org/licenses">https://www.gnu.org/licenses</a>.
                </pre>
            </p>
        </div>
    </div>
</div>

{% assets "js_demo" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
