{% extends "layout.html.j2" %}
{% block css %}
    {% assets "css_error" %}
        <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    {% assets "css_prism" %}
        <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock css %}
{% block js %}
    {% assets "js_prism" %}
        <script type="text/javascript" src="{{ ASSET_URL }}" ></script>
    {% endassets %}
{% endblock js %}
}
{% block body_auth %}
    <div>
        <h1>Opps, that was an error (lol)</h1>
        <p>
            {{ message }}
        </p>
        <h2>Trace</h2>
        <pre>
<code class="language-bash" style="white-space: pre-wrap;">{{ trace }}</code>
        </pre>
    </div>
{% endblock body_auth %}
