{#
    Extract Management 2.0
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see https://www.gnu.org/licenses/.
#}
<div class="em-drop" data-toggle="clps" data-target="#gpg1" data-gpg="1">
    Connection
    <svg class="em-dropIcon" viewbox="0 0 320 512" xmlns="http://www.w3.org/2000/svg"><path d="m143 352.3-136-136c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/></svg>
</div>

<div class="clps" id="gpg1">
    <div class="em-dropBody">
        <div class="em-inputTtl">Name (ex: My fav connection)</div>
        <input class="em-input" type="text" name="gpg1-name" />

        <div class="em-inputTtl">GPG Key</div>
        <input class="em-input" type="text" name="gpg1-key" />
    </div>
</div>
