web/static/**/*.min.*
node_modules/*
.mypy_cache
.pytest_cache
.tox
/web/templates/sections/py_dates.*

/web/static/lib/*
!/web/static/lib/table/
!/web/static/lib/scroll/
/web/static/fonts/*
/web/static/css/*
/.lighthouserc/*
