[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool]

[tool.black]
exclude = '''
    /(
        \.git
      | \.hg
      | \.mypy_cache
      | \.tox
      | \.venv
      | _build
      | buck-out
      | build
      | dist

      # The following are specific to Black, you probably don't want those.
      | blib2to3
      | tests/data

      # em2
      | migrations
      | migrations_dev
      | temp
      | node_modules
    )/
    '''
max_line_length = 99

[tool.djlint]
blank_line_after_tag = "load,extends,include,endblock"
format_attribute_template_tags = true
ignore = "H011,H021,H023,H031"
profile = "jinja"

[tool.isort]
profile = "black"
sections = "FUTURE,STDLIB,THIRDPARTY,FIRSTPARTY,LOCALFOLDER"
skip_glob = ["runner/temp/*"]

[tool.mypy]
disable_error_code = "attr-defined, name-defined"
disallow_untyped_calls = true
disallow_untyped_defs = true
exclude = "/(temp|tests)/$"
ignore_missing_imports = true

[[tool.mypy.overrides]]
ignore_errors = true
module = "*.smb_fix"

[[tool.mypy.overrides]]
ignore_errors = true
module = "*.ldap_auth"

[tool.poetry]
authors = [
  "Paula Courville",
  "Darrel Drake",
  "Dee Anna Hillebrand",
  "Scott Manley",
  "Madeline Matz",
  "Christopher Pickering <cpickering@rhc.net>",
  "Dan Ryan",
  "Richard Schissler",
  "Eric Shultz"
]
classifiers = [
  "Programming Language :: Python :: 3 :: Only",
  "License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)",
  "Operating System :: OS Independent",
  "Development Status :: 5 - Production/Stable",
  "Framework :: Flask",
  "Intended Audience :: Healthcare Industry",
  "Natural Language :: English"
]
description = "Atlas Autmoation Hub is a task scheduling tool for moving data."
documentation = "https://www.atlas.bi/docs/hub/"
homepage = "https://atlas-hub.atlas.bi"
keywords = [
  "Atlas Automation Hub",
  "flask-apscheduler",
  "flask",
  "apscheduler",
  "scheduling"
]
license = "GPL-3.0-or-later"
maintainers = ["Christopher Pickering <cpickering@rhc.net>"]
name = "atlas-hub"
packages = [
  {include = "web"},
  {include = "scheduler"},
  {include = "runner"}
]
readme = "readme.md"
repository = "https://github.com/atlas-bi/Hub"
version = "2.10.2-alpha.2"

[tool.poetry.dependencies]
Flask = "^2.0.1"
Flask-APScheduler = "^1.12.2"
Flask-Assets = "^2.0"
Flask-Caching = "^2.0.0"
Flask-Compress = "1.13"
Flask-Executor = "^1.0.0"
Flask-HTMLmin = "^2.1.0"
Flask-Login = "^0.6.0"
Flask-Migrate = "^4.0.0"
Flask-SQLAlchemy = "^3.0.0"
Flask-SQLAlchemy-Caching = "^1.0.4"
Flask-Script = "^2.0.6"
Jinja2 = "^3.0.1"
SQLAlchemy = "2.0.17"
SQLAlchemy-Utils = "^0.41.0"
bs4 = "^0.0.1"
cryptography = "^41.0.0"
flask-assets = {git = "https://github.com/christopherpickering/flask-assets.git"}
flask-redis = "^0.4.0"
flask-session2 = "^1.2.0"
gevent = "^22.0.0"
gunicorn = "^20.1.0"
is-safe-url = "^1.0"
paramiko = "^3.0.0"
pathvalidate = "^3.0.0"
psutil = "^5.8.0"
psycopg2-binary = "^2.9.1"
pyodbc = "^4.0.31"
pysaml2 = "^7.0.1"
pysmb = "^1.2.7"
python = ">=3.8.1,<4.0"
python-dateutil = "^2.8.2"
python-gnupg = "^0.5.0"
python-ldap = "^3.3.1"
python3-saml = "^1.12.0"
pytz-deprecation-shim = "^0.1.0-post.0"
rcssmin = "^1.0.6"
redis = "^4.0.0"
regex = "^2023.0.0"
relative-to-now = "^1.0.0"
requests = "^2.26.0"
setuptools = "^68.0.0"
sqlalchemy2-stubs = "^0.0.2-alpha.32"
supervisor = "^4.2.2"
tomlkit = "^0.11.4"
virtualenv = "^20.7.2"
webassets-rollup = "^1.0.0"
whitenoise = "^6.2.0"
xmlsec = "^1.3.11"

[tool.poetry.group.dev.dependencies]
black = "^23.0.0"
coverage = "^7.0.0"
djlint = "^1.19.17"
flask-debugtoolbar = "^0.13.1"
isort = "^5.10.1"
mypy = "0.991"
pre-commit = "^3.0.0"
pytest = "^7.2.0"
pytest-cov = "^4.0.0"
radon = "^6.0.0"
ruff = "^0.0.275"
toml = "^0.10.2"
tox = "^4.0.8"
types-flask = "^1.1.6"
types-jinja2 = "^2.11.9"
types-paramiko = "^2.12.0.1"
types-python-dateutil = "^2.8.19.4"
types-redis = "^4.3.21.6"
types-requests = "^2.28.11.5"

[tool.pytest]

[tool.pytest.ini_options]
addopts = "-rsx --tb=short"
filterwarnings = "always"
testpaths = "tests"

[tool.ruff]
extend-exclude = ['test*', 'ldap_auth*']
ignore = ['S602', 'S605', 'D213', 'S324', 'D203', 'S301', 'N818', 'PLW0120', 'PLR0915', 'S110', 'S101', 'C417', 'PLR0913', 'D212', 'RUF100', 'B020', 'S106', 'PLC1901', 'PLR0911', 'F401', "E501", 'SIM118', 'PLR2004', 'PLW2901', 'B905', 'E402', 'PLR0912', 'B904', 'ERA001', 'PLR5501', 'D401', 'SIM108']
select = ['F', 'E', 'W', 'N', 'D', 'S', 'B', 'C4', 'T20', 'Q', 'SIM', 'ERA', 'PL', 'RUF']

[tool.ruff.per-file-ignores]
"runner/scripts/em_python.py" = ['SIM114']

[tool.setuptools_scm]
local_scheme = "dirty-tag"
version_scheme = "post-release"
