[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool]

[tool.black]
exclude = '''
    /(
        \.git
      | \.hg
      | \.mypy_cache
      | \.tox
      | \.venv
      | _build
      | buck-out
      | build
      | dist

      # The following are specific to Black, you probably don't want those.
      | blib2to3
      | tests/data

      # em2
      | migrations
      | migrations_dev
      | temp
      | node_modules
    )/
    '''
max_line_length = 99

[tool.djlint]
blank_line_after_tag = "load,extends,include,endblock"
format_attribute_template_tags = true
ignore = "H011,H021,H023,H031"
profile = "jinja"

[tool.isort]
profile = "black"
quiet = true
sections = "FUTURE,STDLIB,THIRDPARTY,FIRSTPARTY,LOCALFOLDER"
skip_gitignore = true

[tool.poetry]
authors = [
  "Paula Courville",
  "Darrel Drake",
  "Dee Anna Hillebrand",
  "Scott Manley",
  "Madeline Matz",
  "Christopher Pickering <cpickering@rhc.net>",
  "Dan Ryan",
  "Richard Schissler",
  "Eric Shultz"
]
classifiers = [
  "Programming Language :: Python :: 3 :: Only",
  "License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)",
  "Operating System :: OS Independent",
  "Development Status :: 5 - Production/Stable",
  "Framework :: Flask",
  "Intended Audience :: Healthcare Industry",
  "Natural Language :: English"
]
description = "Atlas Autmoation Hub is a task scheduling tool for moving data."
documentation = "https://www.atlas.bi/docs/automation-hub/"
homepage = "https://atlas-hub.atlas.bi"
keywords = [
  "Atlas Automation Hub",
  "flask-apscheduler",
  "flask",
  "apscheduler",
  "scheduling"
]
license = "GPL-3.0-or-later"
maintainers = ["Christopher Pickering <cpickering@rhc.net>"]
name = "atlas-hub"
packages = [
  {include = "web"},
  {include = "scheduler"},
  {include = "runner"}
]
readme = "readme.md"
repository = "https://github.com/atlas-bi/atlas-automation-hub"
version = "2.7.0-alpha.1"

[tool.poetry.dependencies]
Flask = "^2.0.1"
Flask-APScheduler = "^1.12.2"
Flask-Assets = "^2.0"
Flask-Caching = "^2.0.0"
Flask-Compress = "1.13"
Flask-Executor = "^1.0.0"
Flask-HTMLmin = "^2.1.0"
Flask-Login = "^0.6.0"
Flask-Migrate = "^4.0.0"
Flask-SQLAlchemy = "^3.0.0"
Flask-SQLAlchemy-Caching = "^1.0.4"
Flask-Script = "^2.0.6"
Jinja2 = "^3.0.1"
SQLAlchemy = "1.4.46"
SQLAlchemy-Utils = "^0.39.0"
bs4 = "^0.0.1"
cryptography = "^39.0.0"
flask-assets = {git = "https://github.com/christopherpickering/flask-assets.git"}
flask-redis = "^0.4.0"
flask-session2 = "^1.2.0"
gevent = "^22.0.0"
gunicorn = "^20.1.0"
is-safe-url = "^1.0"
jsmin = "^3.0.0"
paramiko = "^3.0.0"
pathvalidate = "^2.5.0"
psutil = "^5.8.0"
psycopg2-binary = "^2.9.1"
pyodbc = "^4.0.31"
pysaml2 = "^7.0.1"
pysmb = "^1.2.7"
python = ">=3.8.1,<4.0"
python-dateutil = "^2.8.2"
python-gnupg = "^0.5.0"
python-ldap = "^3.3.1"
python3-saml = "^1.12.0"
rcssmin = "^1.0.6"
redis = "^4.0.0"
regex = "^2022.4.24"
relative-to-now = "^1.0.0"
requests = "^2.26.0"
setuptools = "^67.0.0"
supervisor = "^4.2.2"
tomlkit = "^0.11.4"
virtualenv = "^20.7.2"
whitenoise = "^6.2.0"
xmlsec = "^1.3.11"

[tool.poetry.dependencies.dataclasses]
python = ">=3.6,<3.7"
version = "*"

[tool.poetry.group.dev.dependencies]
black = "^22.12.0"
coverage = "^7.0.0"
flake8 = "^6.0.0"
flake8-builtins = "^2.0.1"
flake8-comprehensions = "^3.10.1"
flake8-docstrings = "^1.6.0"
flake8-print = "^5.0.0"
flake8-pytest-style = "^1.6.0"
flake8-simplify = "^0.19.3"
flake8-typing-imports = "^1.14.0"
flake8-variables-names = "^0.0.5"
flask-debugtoolbar = "^0.13.1"
isort = "^5.10.1"
mypy = "^0.991"
pep8-naming = "^0.13.2"
pre-commit = "^3.0.0"
pygments = "^2.13.0"
pylint = "^2.15.8"
pytest = "^7.2.0"
pytest-cov = "^4.0.0"
radon = "^5.1.0"
reformat = "^1.0.3"
sqlalchemy2-stubs = "^0.0.2a29"
toml = "^0.10.2"
tox = "^4.0.8"
types-flask = "^1.1.6"
types-jinja2 = "^2.11.9"
types-paramiko = "^2.12.0.1"
types-python-dateutil = "^2.8.19.4"
types-redis = "^4.3.21.6"
types-requests = "^2.28.11.5"

[tool.pylint]

[tool.pylint.basic]
good-names = "i,j,k,ex,Run,x,id,e,me,l,_"
include-naming-hint = "no"

[tool.pylint.format]
max-line-length = 99
max-module-lines = 1000

[tool.pylint.master]
ignore = "smb_fix.py,tests"

[tool.pylint.messages_control]
disable = "W0707, R1705, W0703, E0401, C0413, C0411, R0902, C0415, C0302, R0912, R0915, R0914, R0401, R0801, R0913, R0903, R0911, E1120, E1123, W1514, W1406, C0209, R1714, C0301, W0120, E1101,I1101"

[tool.pytest]

[tool.pytest.ini_options]
addopts = "-rsx --tb=short"
filterwarnings = "always"
testpaths = "tests"

[tool.setuptools_scm]
local_scheme = "dirty-tag"
version_scheme = "post-release"
