/* inter-vietnamese-500-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(/static/fonts/inter/files/inter-vietnamese-500-normal.woff2) format('woff2'), url(/static/fonts/inter/files/inter-vietnamese-500-normal.woff) format('woff');
}
