{#
    Extract Management 2.0
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}
<html dir="ltr" lang="en">

{% cache None %}
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta content="{{ siteDescription}}" name="description">
	<meta content="Christopher Pickering" name="author">
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<link href="/static/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
	<link href="/static/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
	<link href="/static/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
	<link href="/static/site.webmanifest" rel="manifest">
	<link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">
{% endcache %}

<title>{{ siteName }} - {{ title }}</title>

{% block head %}{% endblock %}

{% block css %}{% endblock %}
{% if config['DEMO'] %}
	<style>.demo-banner {padding: 10px;border-radius:6px;border: 2px solid rgba(255,105,97);background-color: cornsilk;width: calc(90% - 75px);margin: auto;}</style>
	<div class="demo-banner">
	    <p>
	        <strong><a target="_blank" href="https://github.com/Riverside-Healthcare/extract_management">Extract Management 2.0</a></strong> Job Scheduler
	        Copyright (C) 2020  <a href="https://github.com/orgs/Riverside-Healthcare/" target="_blank">Riverside Healthcare</a>, Kankakee, IL

	        This program is free software: you can redistribute it and/or modify
	        it under the terms of the GNU General Public License as published by
	        the Free Software Foundation, either version 3 of the License, or
	        (at your option) any later version.

	        This program is distributed in the hope that it will be useful,
	        but WITHOUT ANY WARRANTY; without even the implied warranty of
	        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	        GNU General Public License for more details.

	        You should have received a copy of the GNU General Public License
	        along with this program.  If not, see <a href="https://www.gnu.org/licenses">https://www.gnu.org/licenses</a>.
	   </p>
	   <p>
	       Extract Management 2.0 was created by the Riverside Healthcare Analytics team -
	Paula Courville,
	<a target="_blank" href="www.linkedin.com/in/darrel-drake-57562529">Darrel Drake</a>, 
	<a target="_blank" href="www.github.com/DHillebrand2016">Dee Anna Hillebrand</a>, 
	<a target="_blank" href="www.github.com/Scott-Manley">Scott Manley</a>, 
	<a target="_blank" href="mailto:mmatz@RHC.net">Madeline Matz</a>, 
	<a target="_blank" href="www.github.com/christopherpickering)">Christopher Pickering</a>,
	<a target="_blank" href="www.github.com/danryan1011)">Dan Ryan</a>,
	<a target="_blank" href="www.github.com/schiss152)">Richard Schissler</a> and 
	<a target="_blank" href="www.github.com/eshultz)">Eric Shultz</a>.
	       
	    </p>
	</div>
{% endif %}
{% block body_auth %}

{% include "sections/head.html.j2" %}
  <div class="block">
      <div class="block-left">
          {% include "sections/nav.html.j2" %}
      </div>
      <div class="block-right">
          {% block body %}
          {% endblock %}
      </div>
  </div>
{% endblock %}

{% block js %}{% endblock %}
