{% if t.query_params %}
    <div class="box">
        <h3 class="title is-3">Task Parameters</h3>
        <article class="message is-info">
            <div class="message-body">Note: Task parameters will override project parameters</div>
        </article>
        <pre class="box"><code class="language-sql">{{ t.query_params }}</code></pre>
    </div>
{% endif %}
{% include "pages/task/details/data_source.html.j2" %}
{% include "pages/task/details/query_location.html.j2" %}
{% include "pages/task/details/processing.html.j2" %}
{% include "pages/task/details/destination.html.j2" %}
