{#
    Extract Management 2.0
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see https://www.gnu.org/licenses/.
#}

{% extends "layout.html.j2" %}

{% block js %}
    {% assets "js_project_new" %}
    <script type="text/javascript" src="{{ ASSET_URL }}" ></script>
    {% endassets %}
{% endblock js %}

{% block css %}
    {% assets "css_project_new" %}
    <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock css %}



{% block body %}
    <!-- page title -->
    <h1 class="em-title">{% if p %}Editing <a class="em-link" title="open project" href="/project/{{ p.id }}">{{ p.name }}</a>{% else %}New Project{% endif %}</h1>

    <form method="post" action="/project/{% if p %}{{ p.id }}/edit{% else %}new{% endif %}" id="project-new">
        <div class="em-inputTtl">Name</div>
        <input class="em-input" name="project_name" autocomplete="off"  required="required"  value="{{ p.name }}" />
        <br />
        <div class="em-inputTtl">Description - A little knowledge is a dangerous thing!</div>
        <textarea class="em-input" name="project_desc">{{ p.description }}</textarea>

        {% if p %}
            <h3 class="em-dropHead">
                <label class="checkbox-container">
                    <input type="checkbox" id="project_take_ownership"/>
                    <span class="checkmark"></span>
                </label>
                <input type="hidden" name="project_ownership" value="0"/>
                Take Ownership of Project
            </h3>
        {% endif %}

        <h2 class="em-sectionTitle">Triggers</h2>

        <div class="em-drop" data-toggle="clps" data-target="#cron">
            Cron
            <svg class="em-dropIcon" viewbox="0 0 320 512" xmlns="http://www.w3.org/2000/svg"><path d="m143 352.3-136-136c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/></svg>
        </div>

        <div class="clps" id="cron">
            <div class="em-dropBody">
                <h3 class="em-dropHead">
                    <label class="checkbox-container">
                        <input type="checkbox" id="project_cron_check" {% if p.cron == 1 %}checked="checked"{% endif %}/>
                        <span class="checkmark"></span>
                    </label>
                    <input type="hidden" name="project_cron" value="{{ p.cron or 0 }}"/>
                    Use a cron schedule
                </h3>
                <p>
                    <em>Only one field is  required="required" , if the current date matches all the filed out field the task will run. Ex. Choose "Day of Week" = 6 and "Hour" = 7 and the project will run every Sunday at 7 AM.<br />
                    Leaving an option blank will treat it as a wildcard. See <a class="em-link" target="_blank" title="cron job guide" href="https://ostechnix.com/a-beginners-guide-to-cron-jobs/">this article</a> for examples.
                    </em>
                </p>

                <div class="em-inputTtl">Run in a specific year (4 dgt)</div>
                <input class="em-input" type="number" name="project_cron_year" value="{{ p.cron_year }}"/>

                <div class="em-inputTtl">Run in a specific month (1-12)</div>
                <input class="em-input" type="number" name="project_cron_mnth" value="{{ p.cron_month }}"/>

                <div class="em-inputTtl">Run in a specific week (1-53)</div>
                <input class="em-input" type="number" name="project_cron_week" value="{{ p.cron_week }}"/>

                <div class="em-inputTtl">Run on a specific day (1-31)</div>
                <input class="em-input" type="number" name="project_cron_day" value="{{ p.cron_day }}"/>

                <div class="em-inputTtl">Run on a specific day of the week (0 mon-6 sun)</div>
                <input class="em-input" type="number" name="project_cron_wday" value="{{ p.cron_week_day }}"/>

                <div class="em-inputTtl">Run on a specific hour of the day (0-23)</div>
                <input class="em-input" type="number" name="project_cron_hour" value="{{ p.cron_hour }}"/>

                <div class="em-inputTtl">Run on a specific minute (0-59)</div>
                <input class="em-input" type="number" name="project_cron_min" value="{{ p.cron_min }}"/>

                <div class="em-inputTtl">Run on a specific second (0-59).. Really bro??</div>
                <input class="em-input" type="number" name="project_cron_sec" value="{{ p.cron_sec }}"/>

                <div class="em-inputTtl">Start running on </div>
                <input class="em-input em-inputEraser" name="project_cron_sdate" id="project_cron_sdate" placeholder="select date" value="{{ p.cron_start_date or ''}}"/>
                <button class="em-eraseInput" type="button" data-target="project_cron_sdate" data-toggle="erasor" style="float:right">
                    <svg class="em-dropIcon" viewbox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M497.941 273.941c18.745-18.745 18.745-49.137 0-67.882l-160-160c-18.745-18.745-49.136-18.746-67.883 0l-256 256c-18.745 18.745-18.745 49.137 0 67.882l96 96A48.004 48.004 0 0 0 144 480h356c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12H355.883l142.058-142.059zm-302.627-62.627l137.373 137.373L265.373 416H150.628l-80-80 124.686-124.686z"></path></svg>
                </button>

                <div class="em-inputTtl">End runing on </div>
                <input class="em-input em-inputEraser" name="project_cron_edate" id="project_cron_edate" placeholder="select date" value="{{ p.cron_end_date or ''}}"/>
                <button class="em-eraseInput" type="button" data-target="project_cron_edate" data-toggle="erasor" style="float:right">
                    <svg class="em-dropIcon" viewbox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M497.941 273.941c18.745-18.745 18.745-49.137 0-67.882l-160-160c-18.745-18.745-49.136-18.746-67.883 0l-256 256c-18.745 18.745-18.745 49.137 0 67.882l96 96A48.004 48.004 0 0 0 144 480h356c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12H355.883l142.058-142.059zm-302.627-62.627l137.373 137.373L265.373 416H150.628l-80-80 124.686-124.686z"></path></svg>
                </button>
            </div>
        </div>

        <div class="em-drop" data-toggle="clps" data-target="#schedule">
            Interval
            <svg class="em-dropIcon" viewbox="0 0 320 512" xmlns="http://www.w3.org/2000/svg"><path d="m143 352.3-136-136c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/></svg>
        </div>

        <div class="clps" id="schedule">
            <div class="em-dropBody">
                <h3 class="em-dropHead">
                    <label class="checkbox-container">
                        <input type="checkbox" id="project_intv_check" {% if p.intv == 1 %}checked="checked"{% endif %}/>
                        <span class="checkmark"></span>
                        <input type="hidden" name="project_intv" value="{{ p.intv or 0 }}"/>
                    </label>
                    Use a interval schedule
                </h3>

                <div class="em-inputTtl">Run every (number)</div>
                <input class="em-input" type="number" name="project_intv_value" id="project_intv_value" value="{{ p.intv_value }}" />

                <div class="em-inputTtl">Interval</div>
                <select class="em-input" name="project_intv_intv">
                    <option value="w" {% if p.intv_type == 'w' %} selected="selected" {% endif %}>week(s)</option>
                    <option value="d" {% if p.intv_type == 'd' %} selected="selected" {% endif %}>day(s)</option>
                    <option value="h" {% if p.intv_type == 'h' %} selected="selected" {% endif %}>hour(s)</option>
                    <option value="m" {% if p.intv_type == 'm' %} selected="selected" {% endif %}>minute(s)</option>
                    <option value="s" {% if p.intv_type == 's' %} selected="selected" {% endif %}>second(s)</option>
                </select>

                <div class="em-inputTtl">Start running on </div>
                <input class="em-input em-inputEraser" name="project_intv_sdate" id="project_intv_sdate" placeholder="select date" value="{{ p.intv_start_date or ''}}" />

                <button class="em-eraseInput" type="button" data-target="project_intv_sdate" data-toggle="erasor" style="float:right">
                    <svg class="em-dropIcon" viewbox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M497.941 273.941c18.745-18.745 18.745-49.137 0-67.882l-160-160c-18.745-18.745-49.136-18.746-67.883 0l-256 256c-18.745 18.745-18.745 49.137 0 67.882l96 96A48.004 48.004 0 0 0 144 480h356c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12H355.883l142.058-142.059zm-302.627-62.627l137.373 137.373L265.373 416H150.628l-80-80 124.686-124.686z"></path></svg>
                </button>

                <div class="em-inputTtl">End running on </div>
                <input class="em-input em-inputEraser" name="project_intv_edate" id="project_intv_edate" placeholder="select date" value="{{ p.intv_end_date or ''}}" />

                <button class="em-eraseInput" type="button" data-target="project_intv_edate" data-toggle="erasor" style="float:right">
                    <svg class="em-dropIcon" viewbox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M497.941 273.941c18.745-18.745 18.745-49.137 0-67.882l-160-160c-18.745-18.745-49.136-18.746-67.883 0l-256 256c-18.745 18.745-18.745 49.137 0 67.882l96 96A48.004 48.004 0 0 0 144 480h356c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12H355.883l142.058-142.059zm-302.627-62.627l137.373 137.373L265.373 416H150.628l-80-80 124.686-124.686z"></path></svg>
                </button>
            </div>
        </div>

        <div class="em-drop" data-toggle="clps" data-target="#oneoff">
            One off
            <svg class="em-dropIcon" viewbox="0 0 320 512" xmlns="http://www.w3.org/2000/svg"><path d="m143 352.3-136-136c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/></svg>
        </div>

        <div class="clps" id="oneoff">
            <div class="em-dropBody">
                <h3 class="em-dropHead">
                    <label class="checkbox-container">
                        <input type="checkbox" id="project_ooff_check" {% if p.ooff == 1 %} checked="checked" {% endif %} />
                        <span class="checkmark"></span>
                    </label>
                    Use a one time schedule
                </h3>

                <input type="hidden" name="project_ooff" value="{{ p.ooff or 0 }}" />
                <div class="em-inputTtl">When? Leave blank to run immediately.</div>

                <input class="em-input  em-inputEraser" name="project_ooff_date" id="project_ooff_date" placeholder="select date" value="{{ p.ooff_date or ''}}" />

                <button class="em-eraseInput" type="button" data-target="project_ooff_date" data-toggle="erasor" style="float:right">
                    <svg class="em-dropIcon" viewbox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M497.941 273.941c18.745-18.745 18.745-49.137 0-67.882l-160-160c-18.745-18.745-49.136-18.746-67.883 0l-256 256c-18.745 18.745-18.745 49.137 0 67.882l96 96A48.004 48.004 0 0 0 144 480h356c6.627 0 12-5.373 12-12v-40c0-6.627-5.373-12-12-12H355.883l142.058-142.059zm-302.627-62.627l137.373 137.373L265.373 416H150.628l-80-80 124.686-124.686z"></path></svg>
                </button>
            </div>
        </div>

        <h2 class="em-sectionTitle">Global Params</h2>
        <textarea class="em-input" name="globalParams" rows="1">{{ p.global_params or ''}}</textarea>

        <input class="em-submit" type="submit" value="{% if p %}Save{% else %}Add{% endif %} Project" />
    </form>
{% endblock body %}