{#
    Extract Management 2.0
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see https://www.gnu.org/licenses/.
#}
<div class="nav-title">
    <h1>Navigation</h1>
</div>
<input id="nav-search" class="disabled" placeholder="search" />
<div class="nav-link"><a title="Dashboard" href="/dashboard">Dash</a></div>
<div class="nav-link"><a title="Projects" href="/project">Projects</a></div>
<div class="nav-link"><a title="My Projects" href="/project/user">My Projects</a></div>
<div class="nav-link"><a title="New Project" href="/project/new">New Project</a></div>
<div class="nav-link"><a title="Tasks" href="/task">Tasks</a></div>
<div class="nav-link"><a title="My Tasks" href="/task/mine">My Tasks</a></div>
<div class="nav-link"><a title="Connections" href="/connection">Connections</a></div>
<div class="nav-link"><a title="Admin" href="/admin">Admin</a></div>
