<div class="nav-title">
    <h1>Navigation</h1>
</div>
<input id="nav-search" class="disabled" placeholder="search" />
<div class="nav-link">
    <a title="Dashboard" href="/dashboard">Dash</a>
</div>
<div class="nav-link">
    <a title="Projects" href="/project">Projects</a>
</div>
<div class="nav-link">
    <a title="My Projects" href="/project/user">My Projects</a>
</div>
<div class="nav-link">
    <a title="New Project" href="/project/new">New Project</a>
</div>
<div class="nav-link">
    <a title="Tasks" href="/task">Tasks</a>
</div>
<div class="nav-link">
    <a title="My Tasks" href="/task/mine">My Tasks</a>
</div>
<div class="nav-link">
    <a title="Connections" href="/connection">Connections</a>
</div>
<div class="nav-link">
    <a title="Admin" href="/admin">Admin</a>
</div>
