{% extends "layout.html.j2" %}
{% block css %}
    {% assets "css_admin" %}
        <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock css %}
{% block js %}
    {% assets "js_admin" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock js %}
{% block body %}
    <!-- page title -->
    <h1 class="em-title">Admin Area</h1>
    {% include "sections/flashes.html.j2" %}
    <h2 class="em-title">App Tasks</h2>
    <div class="em-tools">
        <a href="/admin/clearlog" title="clear logs">Clear all logs</a>
        <a href="/admin/resetTasks" title="reset all tasks">Reset all tasks to completed</a>
    </div>
    <h2 class="em-title">Scheduler Tasks</h2>
    <div class="em-tools">
        <a href="/admin/emptyScheduler"
           title="empty scheduler"
           onclick="return confirm('Are you sure? Go to Dash, Error, Reschedule all to restart.')">
            Empty Scheduler
        </a>
        <a href="/admin/pauseJobs" title="pause all jobs">Pause All Jobs</a>
        <a href="/admin/resumeJobs" title="resume all jobs">Resume Enabled Jobs</a>
        <a href="/admin/reloadJobs" title="resume all jobs">Reschedule Enabled Jobs</a>
        <a href="/admin/stopJobs"
           title="gracefully stop scheduler"
           onclick="return confirm('Are you sure? Click Restart Web Service to start again.')">
            Gracefully Stop Scheduler
        </a>
        <a href="/admin/killJobs"
           title="kill scheduler"
           onclick="return confirm('Are you sure? Click Restart Web Service to start again.')">
            Kill Scheduler
        </a>
    </div>
    <h2 class="em-title">Server Tasks</h2>
    <div class="em-tools">
        <a href="/admin/reloadDaemon" title="reload web service">Reload Web Service</a>
        <a href="/admin/restartDaemon" title="restart web service">Restart Web Service</a>
        <a href="/admin/whoami" title="whoami?">Whoami</a>
    </div>
    <!-- tab control -->
    <div class="tab">
        <a title="task logs" class="tab-lnk active" href="task_history">User History</a>
        <a title="task logs" class="tab-lnk" href="login_history">Login History</a>
    </div>
    <!-- tab body -->
    <div class="tab-cnt">
        <div class="tab-dta active" id="task_history">
            <div class="em-ajaxTable" data-src="/table/tasklog/userevents">
                <div class="loader-typing">
                    <img src="/static/img/typing.gif" alt="loading..." title="loading image" />
                </div>
            </div>
        </div>
        <div class="tab-dta" id="login_history">
            <div class="em-ajaxTable" data-src="/table/user/auth">
                <div class="loader-typing">
                    <img src="/static/img/typing.gif" alt="loading..." title="loading image" />
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
