{% extends "layout.html.j2" %}
{% block head %}
    <meta http-equiv="refresh" content="4;url=/login" />
{% endblock head %}
{% block css %}
    {% assets "css_logout" %}
        <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock css %}
{% block body_auth %}
    <div class="logout">
        <div class="logout-cntr">
            <h1 class="logout-message">Bye.</h1>
            <a class="logout-link" href="/login" title="log in">
                log in
            </a>
            <div class="logout-copy">
                &#169;
                <script>
document.write(new Date().getFullYear())
                </script>
                Riverside Healthcare
            </div>
        </div>
    </div>
{% endblock body_auth %}
