<div class="box">
    <h2 class="title is-2">Data Source</h2>
    <div class="field">
        <div class="select is-fullwidth">
            <select class="input" name="sourceType" required="required">
                <option selected="selected">
                    Choose one
                </option>
                {% for s in source_type %}
                    <option value="{{ s.id }}"
                            {% if s.id == t.source_type_id %}selected="selected"{% endif %}>
                        {{ s.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <section class="block task-sourceDatabase"
             {% if not t or t.source_type_id != 1 %}style="display:none;"{% endif %}>
        <div class="field">
            <label class="label">Organization</label>
            <div class="select is-fullwidth">
                <select class="input"
                        name="database_source"
                        data-database="task-database-source-connection">
                    <option {% if not t or not t.source_database_conn or not t.source_database_conn.connection.id %}selected="selected"{% endif %}
                                                                                                                              value="none">
                        Choose one
                    </option>
                    {% for s in conn %}
                        <option value="{{ s.id }}"
                                {% if t.source_database_conn and t.source_database_conn.connection.id == s.id %}selected="selected"{% endif %}>
                            {{ s.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="field task-database-source-connection">
            {% if t and t.source_database_id %}
                {% include "pages/task/source/database_source.html.j2" %}

            {% endif %}
        </div>
    </section>
    <!--
                if File smb
    -->
    <section class="task-sourceSmb field"
             {% if not t or t.source_type_id != 2 %}style="display:none;"{% endif %}>
        <div class="field">
            <label class="label">Organization</label>
            <div class="select is-fullwidth">
                <select class="input" name="smb_source" data-smb="task-smb-source-connection">
                    <option {% if not t or not t.source_smb_conn or not t.source_smb_conn.connection.id %}selected="selected"{% endif %}
                                                                                                                    value="none">
                        Choose one
                    </option>
                    {% for s in conn %}
                        <option value="{{ s.id }}"
                                {% if t.source_smb_conn and t.source_smb_conn.connection.id == s.id %}selected="selected"{% endif %}>
                            {{ s.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="task-smb-source-connection field">
            {% if t and t.source_smb_id %}
                {% include "pages/task/source/smb_source.html.j2" %}

            {% endif %}
        </div>
        <div class="field">
            <label class="label" data-docs="parameters">File Name (path/to/file.csv)</label>
            <label class="label has-text-weight-normal">
                <small class="has-tooltip has-tooltip-arrow has-tooltip-multiline" data-tooltip="{% include '/sections/py_dates.html.j2' %}
                     ">Wildcards and
                    <a href="" target="_blank" rel="noopener">strftime patterns</a>
                    can be used in filenames.
                </small>
            </label>
            <input class="input"
                   name="sourceSmbFile"
                   autocomplete="off"
                   value="{{ t.source_smb_file or '' }}"/>
        </div>
        <div class="field">
            <input class="is-checkradio is-info"
                   id="task_smb_ignore_delimiter"
                   type="checkbox"
                   {% if not t or t.source_smb_ignore_delimiter == 1 %}checked="checked"{% endif %}/>
            <label for="task_smb_ignore_delimiter">Ignore Delimiter?</label>
            <input type="hidden"
                   name="task_smb_ignore_delimiter"
                   value="{%- if not t or t.source_smb_ignore_delimiter == 1 -%} 1 {%- else -%} 0 {%- endif -%}"/>
        </div>
        <div class="field">
            <label class="label">Delimiter (blank defaults to comma)</label>
            <input class="input"
                   name="sourceSmbDelimiter"
                   autocomplete="off"
                   value="{{ t.source_smb_delimiter or '' }}"/>
        </div>
    </section>
    <!--
                if File SFTP
-->
    <section class="task-sourceSftp field"
             {% if not t or t.source_type_id != 3 %}style="display:none;"{% endif %}>
        <div class="field">
            <label class="label">Organization</label>
            <div class="select is-fullwidth">
                <select class="input"
                        name="sftp_source"
                        data-sftp="task-sftp-source-connection">
                    <option {% if not t or not t.source_sftp_conn or not t.source_sftp_conn.connection.id %}selected="selected"{% endif %}
                                                                                                                      value="none">
                        Choose one
                    </option>
                    {% for s in conn %}
                        <option value="{{ s.id }}"
                                {% if t.source_sftp_conn and t.source_sftp_conn.connection.id == s.id %}selected="selected"{% endif %}>
                            {{ s.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="task-sftp-source-connection field">
            {% if t and t.source_sftp_id %}
                {% include "pages/task/source/sftp_source.html.j2" %}

            {% endif %}
        </div>
        <div class="field">
            <label class="label" data-docs="parameters">File Name (path/to/file.csv)</label>
            <label class="label has-text-weight-normal">
                <small class="has-tooltip has-tooltip-arrow has-tooltip-multiline" data-tooltip="{% include '/sections/py_dates.html.j2' %}
                     ">Wildcards and
                    <a href="" target="_blank" rel="noopener">strftime patterns</a>
                    can be used in filenames.
                </small>
            </label>
            <input class="input"
                   name="sourceSftpFile"
                   autocomplete="off"
                   value="{{ t.source_sftp_file or '' }}"/>
        </div>
        <div class="field">
            <input class="is-checkradio is-info"
                   id="task_sftp_ignore_delimiter"
                   type="checkbox"
                   {% if not t or t.source_sftp_ignore_delimiter == 1 %}checked="checked"{% endif %}/>
            <label for="task_sftp_ignore_delimiter">Ignore Delimiter?</label>
            <input type="hidden"
                   name="task_sftp_ignore_delimiter"
                   value="{%- if not t or t.source_sftp_ignore_delimiter == 1 -%} 1 {%- else -%} 0 {%- endif -%}"/>
        </div>
        <div class="field">
            <label class="label">Delimiter (blank defaults to comma)</label>
            <input class="input"
                   name="sourceSftpDelimiter"
                   autocomplete="off"
                   value="{{ t.source_sftp_delimiter or '' }}"/>
        </div>
    </section>
    <!--
                if File FTP
-->
    <section class="task-sourceFtp field"
             {% if not t or t.source_type_id != 4 %}style="display:none;"{% endif %}>
        <div class="field">
            <label class="label">Organization</label>
            <div class="select is-fullwidth">
                <select class="input" name="ftp_source" data-ftp="task-ftp-source-connection">
                    <option {% if not t or not t.source_ftp_conn or not t.source_ftp_conn.connection.id %}selected="selected"{% endif %}
                                                                                                                    value="none">
                        Choose one
                    </option>
                    {% for s in conn %}
                        <option value="{{ s.id }}"
                                {% if t.source_ftp_conn and t.source_ftp_conn.connection.id == s.id %}selected="selected"{% endif %}>
                            {{ s.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="task-ftp-source-connection field">
            {% if t and t.source_ftp_id %}
                {% include "pages/task/source/ftp_source.html.j2" %}

            {% endif %}
        </div>
        <div class="field">
            <label class="label" data-docs="parameters">File Name (path/to/file.csv)</label>
            <label class="label has-text-weight-normal">
                <small class="has-tooltip has-tooltip-arrow has-tooltip-multiline" data-tooltip="{% include '/sections/py_dates.html.j2' %}
                     ">Wildcards and
                    <a href="" target="_blank" rel="noopener">strftime patterns</a>
                    can be used in filenames.
                </small>
            </label>
            <input class="input"
                   name="sourceFtpFile"
                   autocomplete="off"
                   value="{{ t.source_ftp_file or '' }}"/>
        </div>
        <div class="field">
            <input class="is-checkradio is-info"
                   id="task_ftp_ignore_delimiter"
                   type="checkbox"
                   {% if not t or t.source_ftp_ignore_delimiter == 1 %}checked="checked"{% endif %}/>
            <label for="task_ftp_ignore_delimiter">Ignore Delimiter?</label>
            <input type="hidden"
                   name="task_ftp_ignore_delimiter"
                   value="{%- if not t or t.source_ftp_ignore_delimiter == 1 -%} 1 {%- else -%} 0 {%- endif -%}"/>
        </div>
        <div class="field">
            <label class="label">Delimiter (blank defaults to comma)</label>
            <input class="input"
                   name="sourceFtpDelimiter"
                   autocomplete="off"
                   value="{{ t.source_ftp_delimiter or '' }}"/>
        </div>
    </section>
    <!--
                if SSH
-->
    <section class="task-sourceSsh field"
             {% if not t or t.source_type_id != 6 %}style="display:none;"{% endif %}>
        <div class="field">
            <label class="label">Organization</label>
            <div class="select is-fullwidth">
                <select class="input" name="ssh_source" data-ssh="task-ssh-source-connection">
                    <option {% if not t or not t.source_ssh_conn or not t.source_ssh_conn.connection.id %}selected="selected"{% endif %}
                                                                                                                    value="none">
                        Choose one
                    </option>
                    {% for s in conn %}
                        <option value="{{ s.id }}"
                                {% if t.source_ssh_conn and t.source_ssh_conn.connection.id == s.id %}selected="selected"{% endif %}>
                            {{ s.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="task-ssh-source-connection field">
            {% if t and t.source_ssh_id %}
                {% include "pages/task/source/ssh_source.html.j2" %}

            {% endif %}
        </div>
        <label class="label has-text-weight-normal has-text-grey mb-3">
            Note: SSH Commands must be single line string. Commands can be separated with ";", for example: "sum=25;echo $sum"
        </label>
    </section>
</div>
