<div class="box">
    <h2 class="title is-2">Data Destination</h2>
    <h3 class="title is-3">File Properties</h3>
    <div class="field">
        <label class="label">File Type</label>
        <div class="select is-fullwidth">
            <select class="input" name="fileType" required="required">
                <option {% if not t or not t.sftp or not t.sftp.destination.id %}selected="selected"{% endif %}
                                                                                           value="none">
                    Choose one
                </option>
                {% for s in file_type %}
                    <option value="{{ s.id }}"
                            {% if t.file_type and t.file_type.id == s.id %}selected="selected"{% endif %}>
                        {{ s.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="field">
        <label class="label" data-docs="parameters">File Name</label>
        <label class="label has-text-weight-normal">
            <small>
                If file type is "other" then include file extension in name.
                <br />
                <span class="has-tooltip has-tooltip-arrow has-tooltip-multiline" data-tooltip="{% include '/sections/py_dates.html.j2' %}
                     ">
                    Wildcards and
                    <a href="" target="_blank" rel="noopener">strftime patterns</a>
                    can be used in filenames.
                </span>
            </small>
        </label>
        <div class="control">
            <input class="input"
                   name="destinationFileName"
                   autocomplete="off"
                   value="{{ t.destination_file_name }}"/>
        </div>
    </div>
    <div class="task-delimiter block"
         {% if not t or (t and t.destination_file_type_id != 2 and t.destination_file_type_id != 4) %} style="display:none" {% endif %}>
        <div class="field">
            <label class="label">File Delimiter (defaults to comma)</label>
            <input class="input"
                   name="fileDelimiter"
                   autocomplete="off"
                   value="{{ t.destination_file_delimiter or ',' }}"/>
        </div>
        <div class="field">
            <input class="is-checkradio is-info"
                   id="task_ignore_file_delimiter"
                   type="checkbox"
                   {% if t and t.destination_ignore_delimiter == 1 %}checked="checked"{% endif %}/>
            <label for="task_ignore_file_delimiter">Ignore Delimiter?</label>
            <input type="hidden"
                   name="task_ignore_file_delimiter"
                   value="{%- if t and t.destination_ignore_delimiter == 1 -%} 1 {%- else -%} 0 {%- endif -%}"/>
        </div>
        <div class="field">
            <label class="label">Line End Appending (defaults to "", normally this is not used. ex: ~)</label>
            <input class="input"
                   name="fileTerminator"
                   autocomplete="off"
                   value="{{ t.destination_file_line_terminator or '' }}"/>
        </div>
    </div>
    <div class="field">
        <label class="label">Quote Level</label>
        <div class="select is-fullwidth">
            <select class="input" name="quoteLevel">
                {% for s in quote_level %}
                    <option value="{{ s.id }}"
                            {% if t.destination_file_quote_level and t.destination_file_quote_level.id == s.id or (not t.destination_file_quote_level and s.id == 3) %} selected="selected" {% endif %}>
                        {{ s.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="field">
        <input class="is-checkradio is-info"
               id="task_create_zip"
               type="checkbox"
               data-target="task-destinationZip"
               {% if t and t.destination_create_zip == 1 %}checked="checked"{% endif %}/>
        <label for="task_create_zip">Save into a ZIP archive?</label>
        <input type="hidden"
               name="task_create_zip"
               value="{%- if t and t.destination_create_zip == 1 -%} 1 {%- else -%} 0 {%- endif -%}"/>
    </div>
    <article class="p-0 message box is-info task-destinationZip"
             {% if not t or (t and t.destination_create_zip != 1) %} style="display:none;" {% endif %}>
        <p class="message-header">
            Zip Details
        </p>
        <div class="message-body has-background-white has-text-dark">
            <label class="label">Zip Archive Name</label>
            <div class="conrol">
                <input class="input"
                       name="destinationZipName"
                       autocomplete="off"
                       value="{{ t.destination_zip_name or '' }}"/>
            </div>
        </div>
    </article>
    <div class="field">
        <input class="is-checkradio is-info"
               id="task_file_gpg"
               type="checkbox"
               data-target="task-destinationGpg"
               {% if t and t.file_gpg == 1 %}checked="checked"{% endif %}/>
        <label for="task_file_gpg">Encrypt file with GPG key?</label>
        <input type="hidden"
               name="task_file_gpg"
               value="{%- if t and t.file_gpg == 1 -%}1{%- else -%}0{%- endif -%}"/>
    </div>
    <article class="p-0 message box is-info task-destinationGpg"
             {% if not t or (t and t.file_gpg != 1) %} style="display:none;" {% endif %}>
        <p class="message-header">
            File Encryption
        </p>
        <div class="message-body has-background-white has-text-dark">
            <div class="field">
                <label class="label">Organization</label>
                <div class="select is-fullwidth">
                    <select class="input" name="gpg_file" data-gpg="task-gpg-connection">
                        <option {% if not t or not t.file_gpg_conn or not t.file_gpg_conn.connection.id %}selected="selected"{% endif %}
                                                                                                                    value="none">
                            Choose one
                        </option>
                        {% for s in conn %}
                            <option value="{{ s.id }}"
                                    {% if t.file_gpg_conn and t.file_gpg_conn.connection.id == s.id %}selected="selected"{% endif %}>
                                {{ s.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="task-gpg-connection field">
                {% if t and t.file_gpg_id %}
                    {% include "pages/task/dest/gpg_file.html.j2" %}

                {% endif %}
            </div>
        </div>
    </article>
    <div class="field">
        <input class="is-checkradio is-info"
               id="task_save_sftp"
               type="checkbox"
               data-target="task-destinationSftp"
               {% if t and t.destination_sftp == 1 %}checked="checked"{% endif %}/>
        <label for="task_save_sftp">Upload files to SFTP server?</label>
        <input type="hidden"
               name="task_save_sftp"
               value="{%- if t and t.destination_sftp == 1 -%} 1 {%- else -%} 0 {%- endif -%}"/>
    </div>
    <article class="p-0 message box is-info task-destinationSftp"
             {% if not t or (t and t.destination_sftp != 1) %} style="display:none;" {% endif %}>
        <p class="message-header">
            SFTP Location
        </p>
        <div class="message-body has-background-white has-text-dark">
            <div class="field">
                <label class="label">Organization</label>
                <div class="select is-fullwidth">
                    <select class="input"
                            name="sftp_destination"
                            data-sftp="task-sftp-connection">
                        <option {% if not t or not t.destination_sftp_conn or not t.destination_sftp_conn.connection.id %} selected="selected" {% endif %}
                                                                                                                                     value="none">
                            Choose one
                        </option>
                        {% for s in conn %}
                            <option value="{{ s.id }}"
                                    {% if t.destination_sftp_conn and t.destination_sftp_conn.connection.id == s.id %}selected="selected"{% endif %}>
                                {{ s.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="task-sftp-connection field">
                {% if t and t.destination_sftp_id %}
                    {% include "pages/task/dest/sftp_dest.html.j2" %}

                {% endif %}
            </div>
            <div class="field">
                <input class="is-checkradio is-info"
                       id="task_sftp_dont_send_empty"
                       type="checkbox"
                       {% if t and t.destination_sftp_dont_send_empty_file == 1 %}checked="checked"{% endif %}/>
                <label for="task_sftp_dont_send_empty">
                    Don't upload if file is empty?
                </label>
                <input type="hidden"
                       name="task_sftp_dont_send_empty"
                       value="{%- if t and t.destination_sftp_dont_send_empty_file == 1 -%} 1 {%- else -%} 0 {%- endif -%}"/>
            </div>
            <div class="field">
                <input class="is-checkradio is-info"
                       id="task_overwrite_sftp_if_exists"
                       type="checkbox"
                       {% if not t or t.destination_sftp_overwrite == 1 %}checked="checked"{% endif %}/>
                <label for="task_overwrite_sftp_if_exists">Overwrite file if exists?</label>
                <input type="hidden"
                       name="task_overwrite_sftp"
                       value="{%- if not t or t.destination_sftp_overwrite == 1 -%} 1 {%- else -%} 0 {%- endif -%}"/>
            </div>
        </div>
    </article>
    <!-- smb location  -->
    <div class="field">
        <input class="is-checkradio is-info"
               id="task_save_smb"
               type="checkbox"
               data-target="task-destinationSmb"
               {% if t and t.destination_smb == 1 %}checked="checked"{% endif %}/>
        <label for="task_save_smb">Upload files to SMB server (network file path)?</label>
        <input type="hidden"
               name="task_save_smb"
               value="{%- if t and t.destination_smb == 1 -%} 1 {%- else -%} 0 {%- endif -%}"/>
    </div>
    <article class="p-0 message box is-info task-destinationSmb"
             {% if not t or (t and t.destination_smb != 1) %} style="display:none;" {% endif %}>
        <p class="message-header">
            SMB (Network Folder) Location
        </p>
        <div class="message-body has-background-white has-text-dark">
            <div class="field">
                <label class="label">Organization</label>
                <div class="select is-fullwidth">
                    <select class="input" name="smb_destination" data-smb="task-smb-connection">
                        <option {% if not t or not t.destination_smb_conn or not t.destination_smb_conn.connection.id %}selected="selected"{% endif %}
                                                                                                                                  value="none">
                            Choose one
                        </option>
                        {% for s in conn %}
                            <option value="{{ s.id }}"
                                    {% if t.destination_smb_conn and t.destination_smb_conn.connection.id == s.id %}selected="selected"{% endif %}>
                                {{ s.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="task-smb-connection field">
                {% if t and t.destination_smb_id %}
                    {% include "pages/task/dest/smb_dest.html.j2" %}

                {% endif %}
            </div>
            <div class="field">
                <input class="is-checkradio is-info"
                       id="task_smb_dont_send_empty"
                       type="checkbox"
                       {% if t and t.destination_smb_dont_send_empty_file == 1 %}checked="checked"{% endif %}/>
                <label for="task_smb_dont_send_empty">
                    Don't upload if file is empty?
                </label>
                <input type="hidden"
                       name="task_smb_dont_send_empty"
                       value="{%- if t and t.destination_smb_dont_send_empty_file == 1 -%} 1 {%- else -%} 0 {%- endif -%}"/>
            </div>
            <div class="field">
                <input class="is-checkradio is-info"
                       id="task_overwrite_smb_if_exists"
                       type="checkbox"
                       {% if not t or t.destination_smb_overwrite == 1 %}checked="checked"{% endif %}/>
                <label for="task_overwrite_smb_if_exists">Overwrite if exists?</label>
                <input type="hidden"
                       name="task_overwrite_smb"
                       value="{%- if not t or t.destination_smb_overwrite == 1 -%} 1 {%- else -%} 0 {%- endif -%}"/>
            </div>
        </div>
    </article>
    <div class="field">
        <input class="is-checkradio is-info"
               id="task_save_ftp"
               type="checkbox"
               data-target="task-destinationFtp"
               {% if t and t.destination_ftp == 1 %}checked="checked"{% endif %}/>
        <label for="task_save_ftp">Upload files to FTP server (network file path)?</label>
        <input type="hidden"
               name="task_save_ftp"
               value="{%- if t and t.destination_ftp == 1 -%} 1 {%- else -%} 0 {%- endif -%}"/>
    </div>
    <article class="p-0 message box is-info task-destinationFtp"
             {% if not t or (t and t.destination_ftp != 1) %} style="display:none;" {% endif %}>
        <p class="message-header">
            FTP Location
        </p>
        <div class="message-body has-background-white has-text-dark">
            <div class="field">
                <label class="label">Organization</label>
                <div class="select is-fullwidth">
                    <select class="input" name="ftp_destination" data-ftp="task-ftp-connection">
                        <option {% if not t or not t.destination_ftp_conn or not t.destination_ftp_conn.connection.id %}selected="selected"{% endif %}
                                                                                                                                  value="none">
                            Choose one
                        </option>
                        {% for s in conn %}
                            <option value="{{ s.id }}"
                                    {% if t.destination_ftp_conn and t.destination_ftp_conn.connection.id == s.id %}selected="selected"{% endif %}>
                                {{ s.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="task-ftp-connection field">
                {% if t and t.destination_ftp_id %}
                    {% include "pages/task/dest/ftp_dest.html.j2" %}

                {% endif %}
            </div>
            <div class="field">
                <input class="is-checkradio is-info"
                       id="task_ftp_dont_send_empty"
                       type="checkbox"
                       {% if t and t.destination_ftp_dont_send_empty_file == 1 %}checked="checked"{% endif %}/>
                <label for="task_ftp_dont_send_empty">
                    Don't upload if file is empty?
                </label>
                <input type="hidden"
                       name="task_ftp_dont_send_empty"
                       value="{%- if t and t.destination_ftp_dont_send_empty_file == 1 -%} 1 {%- else -%} 0 {%- endif -%}"/>
            </div>
            <div class="field">
                <input class="is-checkradio is-info"
                       id="task_overwrite_ftp_if_exists"
                       type="checkbox"
                       {% if not t or t.destination_ftp_overwrite == 1 %}checked="checked"{% endif %}/>
                <label for="task_overwrite_ftp_if_exists">Overwrite if exists?</label>
                <input type="hidden"
                       name="task_overwrite_ftp"
                       value="{%- if not t or t.destination_ftp_overwrite == 1 -%} 1 {%- else -%} 0 {%- endif -%}"/>
            </div>
        </div>
    </article>
    <!-- success email settings -->
    <div class="field">
        <input class="is-checkradio is-info"
               id="send_completion_email_check"
               type="checkbox"
               data-target="task-destinationEmail"
               {% if t and t.email_completion == 1 %}checked="checked"{% endif %}/>
        <label for="send_completion_email_check">Send Success Email?</label>
        <input type="hidden"
               name="task_send_completion_email"
               value="{%- if t and t.email_completion == 1 -%} 1 {%- else -%} 0 {%- endif -%}"/>
    </div>
    <article class="p-0 message box is-info task-destinationEmail"
             {% if not t or (t and t.email_completion != 1) %} style="display:none;" {% endif %}>
        <p class="message-header">
            Success Email Settings
        </p>
        <div class="message-body has-background-white has-text-dark">
            <div class="field">
                <label class="label" data-docs="tasks#email">Destination (separate addresses with ";")</label>
                <input class="input"
                       name="completionEmailRecip"
                       autocomplete="off"
                       value="{{ t.email_completion_recipients or '' }}"/>
            </div>
            <div class="field">
                <label class="label">Message</label>
                <textarea class="textarea" name="completion_email_msg" autocomplete="off">{{ t.email_completion_message or '' }}</textarea>
            </div>
            <!-- include run log? check -->
            <div class="field">
                <input class="is-checkradio is-info"
                       type="checkbox"
                       id="send_completion_email_log_check"
                       {% if t and t.email_completion_log == 1 %}checked="checked"{% endif %}/>
                <label for="send_completion_email_log_check">Include run logs?</label>
                <input type="hidden"
                       name="task_send_completion_email_log"
                       value="{%- if t and t.email_completion_log == 1 -%} 1 {%- else -%} 0 {%- endif -%}"/>
            </div>
            <!-- attach file to email? -->
            <div class="field">
                <input class="is-checkradio is-info"
                       id="send_output_check"
                       type="checkbox"
                       {% if t and t.email_completion_file == 1 %}checked="checked"{% endif %}/>
                <label for="send_output_check">
                    Attach output file to email?
                </label>
                <input type="hidden"
                       name="task_send_output"
                       value="{%- if t and t.email_completion_file == 1 -%} 1 {%- else -%} 0 {%- endif -%}"/>
            </div>
            <!-- don't send email if file is empty? -->
            <div class="field">
                <input class="is-checkradio is-info"
                       id="task_dont_send_empty"
                       type="checkbox"
                       {% if t and t.email_completion_dont_send_empty_file == 1 %}checked="checked"{% endif %}/>
                <label for="task_dont_send_empty">
                    Don't email if file is empty?
                </label>
                <input type="hidden"
                       name="task_dont_send_empty"
                       value="{%- if t and t.email_completion_dont_send_empty_file == 1 -%} 1 {%- else -%} 0 {%- endif -%}"/>
            </div>
            <!-- embed file in email? -->
            <div class="field">
                <input class="is-checkradio is-info"
                       id="task_embed_output"
                       type="checkbox"
                       {% if t and t.email_completion_file_embed == 1 %}checked="checked"{% endif %}/>
                <label for="task_embed_output">
                    Embed file in email body?
                </label>
                <input type="hidden"
                       name="task_embed_output"
                       value="{%- if t and t.email_completion_file_embed == 1 -%} 1 {%- else -%} 0 {%- endif -%}"/>
            </div>
        </div>
    </article>
    <!-- Send an error email? -->
    <div class="field">
        <input class="is-checkradio is-info"
               id="send_error_email_check"
               data-target="task-destinationErrorEmail"
               type="checkbox"
               {% if t and t.email_error == 1 %}checked="checked"{% endif %}/>
        <label for="send_error_email_check">
            Send Error Email?
        </label>
        <input type="hidden"
               name="task_send_error_email"
               value="{%- if t and t.email_error == 1 -%} 1 {%- else -%} 0 {%- endif -%}"/>
    </div>
    <article class="p-0 message box is-info task-destinationErrorEmail"
             {% if not t or (t and t.email_error != 1) %} style="display:none;" {% endif %}>
        <p class="message-header">
            Error Email Settings
        </p>
        <div class="message-body has-background-white has-text-dark">
            <h3 class="title is-3">
                Error Email
            </h3>
            <!-- email recip and message -->
            <div class="field">
                <label class="label" data-docs="tasks#email">
                    Error Destination (separate addresses with ";")
                </label>
                <input class="input"
                       name="errorEmailRecip"
                       autocomplete="off"
                       value="{{ t.email_error_recipients or '' }}"/>
            </div>
            <div class="field">
                <label class="label">
                    Error Message
                </label>
                <textarea class="textarea" name="errorEmailMsg" autocomplete="off">{{ t.email_error_message or '' }}</textarea>
            </div>
            <article class="message is-warning">
                <div class="message-body">
                    Run log will be included in error emails.
                </div>
            </article>
        </div>
    </article>
    <!-- enabled y/n -->
    <div class="field">
        <input class="is-checkradio is-info"
               id="task-ooff"
               type="checkbox"
               {% if not t or t.enabled == 1 %}checked="checked"{% endif %}/>
        <label for="task-ooff">
            Enable task
        </label>
        <input type="hidden"
               name="task-ooff"
               value="{%- if not t or t.enabled == 1 -%}1{%- else -%}0{%- endif -%}"/>
    </div>
</div>
