<div class="box">
    <div class="field">
        <h2 class="title is-2">Processing Script</h2>
        <div class="select is-fullwidth">
            <select class="input" name="processingType" required="required">
                <option value="none">None</option>
                {% for s in processing_type %}
                    <option value="{{ s.id }}"
                            {% if s.id == t.processing_type_id %}selected="selected"{% endif %}>{{ s.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <!-- SMB -->
    <section class="task-processingSmb"
             {% if not t or t.processing_type_id != 1 %}style="display:none;"{% endif %}>
        <div class="field">
            <label class="label">Organization</label>
            <div class="select is-fullwidth">
                <select class="input"
                        name="smb_processing"
                        data-smb="task-smb-processing-connection">
                    <option {% if not t or not t.processing_smb_conn or not t.processing_smb_conn.connection.id %}selected="selected"{% endif %}
                            value="none">Choose one</option>
                    {% for s in conn %}
                        <option value="{{ s.id }}"
                                {% if t.processing_smb_conn and t.processing_smb_conn.connection.id == s.id %}selected="selected"{% endif %}>{{ s.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="task-smb-processing-connection field">
            {% if t and t.processing_smb_id %}
                {% include "pages/task/processing/smb_processing.html.j2" %}

            {% endif %}
        </div>
        <div class="field">
            <label class="label" data-docs="parameters">File Name (path/to/file.py)</label>
            <label class="label has-text-weight-normal">
                <small class="has-tooltip has-tooltip-arrow has-tooltip-multiline" data-tooltip="{% include "/sections/py_dates.html.j2" %}
                     ">Wildcards and
                    <a href="" target="_blank" rel="noopener">strftime patterns</a>
                    can be used in filenames.
                </small>
            </label>
            <input class="input"
                   name="processingSmbFile"
                   autocomplete="off"
                   value="{{ t.processing_smb_file or '' }}" />
        </div>
    </section>
    <!-- SFTP -->
    <section class="task-processingSftp"
             {% if not t or t.processing_type_id != 2 %}style="display:none;"{% endif %}>
        <div class="field">
            <label class="label">Organization</label>
            <div class="select is-fullwidth">
                <select class="input"
                        name="sftp_processing"
                        data-sftp="task-sftp-processing-connection">
                    <option {% if not t or not t.processing_sftp_conn or not t.processing_sftp_conn.connection.id %}selected="selected"{% endif %}
                            value="none">Choose one</option>
                    {% for s in conn %}
                        <option value="{{ s.id }}"
                                {% if t.processing_sftp_conn and t.processing_sftp_conn.connection.id == s.id %}selected="selected"{% endif %}>{{ s.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="task-sftp-processing-connection field">
            {% if t and t.processing_sftp_id %}
                {% include "pages/task/processing/sftp_processing.html.j2" %}

            {% endif %}
        </div>
        <div class="field">
            <label class="label" data-docs="parameters">File Name (path/to/file.py)</label>
            <label class="label has-text-weight-normal">
                <small class="has-tooltip has-tooltip-arrow has-tooltip-multiline" data-tooltip="{% include "/sections/py_dates.html.j2" %}
                     ">Wildcards and
                    <a href="" target="_blank" rel="noopener">strftime patterns</a>
                    can be used in filenames.
                </small>
            </label>
            <input class="input"
                   name="processingSftpFile"
                   autocomplete="off"
                   value="{{ t.processing_sftp_file or '' }}" />
        </div>
    </section>
    <!-- FTP -->
    <section class="task-processingFtp"
             {% if not t or t.processing_type_id != 3 %}style="display:none;"{% endif %}>
        <div class="field">
            <label class="label">Organization</label>
            <div class="select is-fullwidth">
                <select class="input"
                        name="ftp_processing"
                        data-ftp="task-ftp-processing-connection">
                    <option {% if not t or not t.processing_ftp_conn or not t.processing_ftp_conn.connection.id %}selected="selected"{% endif %}
                            value="none">Choose one</option>
                    {% for s in conn %}
                        <option value="{{ s.id }}"
                                {% if t.processing_ftp_conn and t.processing_ftp_conn.connection.id == s.id %}selected="selected"{% endif %}>{{ s.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="task-ftp-processing-connection field">
            {% if t and t.processing_ftp_id %}
                {% include "pages/task/processing/ftp_processing.html.j2" %}

            {% endif %}
        </div>
        <div class="field">
            <label class="label" data-docs="parameters">File Name (path/to/file.py)</label>
            <label class="label has-text-weight-normal">
                <small class="has-tooltip has-tooltip-arrow has-tooltip-multiline" data-tooltip="{% include "/sections/py_dates.html.j2" %}
                     ">Wildcards and
                    <a href="" target="_blank" rel="noopener">strftime patterns</a>
                    can be used in filenames.
                </small>
            </label>
            <input class="input"
                   name="processingFtpFile"
                   autocomplete="off"
                   value="{{ t.processing_ftp_file or '' }}" />
        </div>
    </section>
    <!-- GIT -->
    <section class="task-processingGit"
             {% if not t or t.processing_type_id != 4 %}style="display:none;"{% endif %}>
        <div class="field">
            <label class="label">GIT Address</label>
            <div class="control">
                <input class="input"
                       name="processingGit"
                       autocomplete="off"
                       value="{{ t.processing_git or '' }}" />
            </div>
        </div>
    </section>
    <!-- Devops -->
    <section class="task-processingDevops"
             {% if not t or t.processing_type_id != 7 %}style="display:none;"{% endif %}>
        <div class="field">
            <label class="label">Devops Address</label>
            <div class="control">
                <input class="input"
                       name="processingDevops"
                       autocomplete="off"
                       value="{{ t.processing_devops or '' }}" />
            </div>
        </div>
    </section>
    <!-- URL -->
    <section class="task-processingUrl"
             {% if not t or t.processing_type_id != 5 %}style="display:none;"{% endif %}>
        <div class="field">
            <label class="label">Web Address</label>
            <div class="control">
                <input class="input"
                       name="processingUrl"
                       autocomplete="off"
                       value="{{ t.processing_url or '' }}" />
            </div>
        </div>
    </section>
    <!-- Code -->
    <section class="task-processingCode"
             {% if not t or t.processing_type_id != 6 %}style="display:none;"{% endif %}>
        <div class="field">
            <label class="label">Source Code</label>
            <textarea name="processingCode" autocomplete="off" rows="1">{{ t.processing_code or '' }}</textarea>
        </div>
    </section>
    <section class="task-processingCommand"
             {% if not t or not t.processing_type_id or t.processing_type_id == 6 %}style="display:none;"{% endif %}>
        <div class="field">
            <label class="label">Command To Execute (ex: main.py) only required if a project directory was specified.</label>
            <input class="input"
                   name="processingCommand"
                   autocomplete="off"
                   value="{{ t.processing_command or '' }}" />
        </div>
    </section>
</div>
