<div class="task-query-location box {{ t.source_type_id }}"
     {% if not t or not t.source_type_id or t.source_type_id not in [1,6] %}style="display:none;"{% endif %}>
    <!--
                GIT (requires password in settings)
                File
                URL
-->
    <div class="field">
        <h2 class="title is-2">Query Location</h2>
        <div class="select is-fullwidth">
            <select class="input" name="sourceQueryType">
                <option disabled="disabled"
                        {% if not t or t.source_query_type_id == None %}selected="selected"{% endif %}>Choose one</option>
                {% for s in source_query_type %}
                    <option value="{{ s.id }}"
                            {% if s.id == t.source_query_type_id %}selected="selected"{% endif %}>{{ s.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <!--
                url to GIT or other source. Site settings must have base path configured. This site requires login
-->
    <section class="task-sourceGit block"
             {% if not t or t.source_query_type_id != 1 %}style="display:none;"{% endif %}>
        <div class="field">
            <label class="label">GIT Address</label>
            <div class="control">
                <input class="input"
                       name="sourceGit"
                       autocomplete="off"
                       value="{{ t.source_git or '' }}" />
            </div>
        </div>
    </section>
        <!--
                url to Devops or other source. Site settings must have base path configured. This site requires login
-->
    <section class="task-sourceDevops block"
             {% if not t or t.source_query_type_id != 7 %}style="display:none;"{% endif %}>
        <div class="field">
            <label class="label">Devops Address</label>
            <div class="control">
                <input class="input"
                       name="sourceDevops"
                       autocomplete="off"
                       value="{{ t.source_devops or '' }}" />
            </div>
        </div>
    </section>
    <!--
                smb
-->
    <section class="task-sourceSmbQuery block"
             {% if not t or t.source_query_type_id != 2 %}style="display:none;"{% endif %}>
        <div class="field">
            <label class="label">Organization</label>
            <div class="select is-fullwidth">
                <select class="input"
                        name="smb_query"
                        data-smb="task-query-smb-source-connection">
                    <option {% if not t or not t.query_smb_conn or not t.query_smb_conn.connection.id %}selected="selected"{% endif %}
                            value="none">Choose one</option>
                    {% for s in conn %}
                        <option value="{{ s.id }}"
                                {% if t.query_smb_conn and t.query_smb_conn.connection.id == s.id %}selected="selected"{% endif %}>{{ s.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="task-query-smb-source-connection field">
            {% if t and t.query_smb_id %}
                {% include "pages/task/query/smb_query.html.j2" %}

            {% endif %}
        </div>
        <div class="field">
            <label class="label" data-docs="parameters">File Name (path/to/file.csv)</label>
            <label class="label has-text-weight-normal">
                <small class="has-tooltip has-tooltip-arrow has-tooltip-multiline" data-tooltip="{% include "/sections/py_dates.html.j2" %}
                     ">Wildcards and
                    <a href="" target="_blank" rel="noopener">strftime patterns</a>
                    can be used in filenames.
                </small>
            </label>
            <input class="input"
                   name="sourceQuerySmbFile"
                   autocomplete="off"
                   value="{{ t.query_smb_file or '' }}" />
        </div>
    </section>
    <!--
                ftp
-->
    <section class="task-sourceFtpQuery block"
             {% if not t or t.source_query_type_id != 6 %}style="display:none;"{% endif %}>
        <div class="field">
            <label class="label">Organization</label>
            <div class="select is-fullwidth">
                <select class="input"
                        name="ftp_query"
                        data-ftp="task-query-ftp-source-connection">
                    <option {% if not t or not t.query_ftp_conn or not t.query_ftp_conn.connection.id %}selected="selected"{% endif %}
                            value="none">Choose one</option>
                    {% for s in conn %}
                        <option value="{{ s.id }}"
                                {% if t.query_ftp_conn and t.query_ftp_conn.connection.id == s.id %}selected="selected"{% endif %}>{{ s.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="task-query-ftp-source-connection field">
            {% if t and t.query_ftp_id %}
                {% include "pages/task/query/ftp_query.html.j2" %}

            {% endif %}
        </div>
        <div class="field">
            <label class="label" data-docs="parameters">File Name (path/to/file.csv)</label>
            <label class="label has-text-weight-normal">
                <small class="has-tooltip has-tooltip-arrow has-tooltip-multiline" data-tooltip="{% include "/sections/py_dates.html.j2" %}
                     ">Wildcards and
                    <a href="" target="_blank" rel="noopener">strftime patterns</a>
                    can be used in filenames.
                </small>
            </label>
            <input class="input"
                   name="sourceQueryFtpFile"
                   autocomplete="off"
                   value="{{ t.query_ftp_file or '' }}" />
        </div>
    </section>
    <!--
                sftp
-->
    <section class="task-sourceSftpQuery block"
             {% if not t or t.source_query_type_id != 5 %}style="display:none;"{% endif %}>
        <div class="field">
            <label class="label">Organization</label>
            <div class="select is-fullwidth">
                <select class="input"
                        name="sftp_query"
                        data-sftp="task-query-sftp-source-connection">
                    <option {% if not t or not t.query_sftp_conn or not t.query_sftp_conn.connection.id %}selected="selected"{% endif %}
                            value="none">Choose one</option>
                    {% for s in conn %}
                        <option value="{{ s.id }}"
                                {% if t.query_sftp_conn and t.query_sftp_conn.connection.id == s.id %}selected="selected"{% endif %}>{{ s.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="task-query-sftp-source-connection field ">
            {% if t and t.query_sftp_id %}
                {% include "pages/task/query/sftp_query.html.j2" %}

            {% endif %}
        </div>
        <div class="field">
            <label class="label" data-docs="parameters">File Name (path/to/file.csv)</label>
            <label class="label has-text-weight-normal">
                <small class="has-tooltip has-tooltip-arrow has-tooltip-multiline" data-tooltip="{% include "/sections/py_dates.html.j2" %}
                     ">Wildcards and
                    <a href="" target="_blank" rel="noopener">strftime patterns</a>
                    can be used in filenames.
                </small>
            </label>
            <input class="input"
                   name="sourceQuerySftpFile"
                   autocomplete="off"
                   value="{{ t.query_sftp_file or '' }}" />
        </div>
    </section>
    <!--
                code url - cannot require password
-->
    <section class="task-sourceURL block"
             {% if not t or t.source_query_type_id != 3 %}style="display:none;"{% endif %}>
        <div class="field">
            <label class="label">Web Address</label>
            <div class="control">
                <input class="input"
                       name="sourceURL"
                       autocomplete="off"
                       value="{{ t.source_url or '' }}" />
            </div>
        </div>
    </section>
    <div class="field task-query-headers"
         {% if not t or not t.source_type_id or t.source_type_id == 3 or t.source_type_id == 2 or t.source_type_id == 5 or t.source_type_id == 6 %}
             style="display:none;"
         {% endif %}>
        <input class="is-checkradio is-info"
               id="task_include_query_headers"
               type="checkbox"
               {% if not t or (t and t.source_query_include_header == 1) %}checked="checked"{% endif %} />
        <label for="task_include_query_headers">Include Query Headers?</label>
        <input type="hidden"
               name="task_include_query_headers"
               value="{%- if not t or (t and t.source_query_include_header == 1) -%} 1 {%- else -%} 0 {%- endif -%}" />
    </div>
    <div class="field"
         {% if not t or not t.source_type_id or t.source_type_id == 3 or t.source_type_id == 2 or t.source_type_id == 5 or t.source_type_id == 6 %}
             style="display:none;"
         {% endif %}>
        <input class="is-checkradio is-info"
               id="task_enable_source_cache"
               type="checkbox"
               {% if not t or (t and t.enable_source_cache == 1) %}checked="checked"{% endif %} />
        <label for="task_enable_source_cache">Enable Query Cache?</label>
        <input type="hidden"
               name="task_enable_source_cache"
               value="{%- if not t or (t and t.enable_source_cache == 1) -%} 1 {%- else -%} 0 {%- endif -%}" />
    </div>
    <div class="field"
         {% if not t or not t.source_type_id or t.source_type_id == 3 or t.source_type_id == 2 or t.source_type_id == 5 or t.source_type_id == 6 %}
             style="display:none;"
         {% endif %}>
        <input class="is-checkradio is-info"
               id="task_require_sql_output"
               type="checkbox"
               {% if not t or (t and t.source_require_sql_output == 1) %}checked="checked"{% endif %} />
        <label for="task_require_sql_output">Require query output?</label>
        <input type="hidden"
               name="task_require_sql_output"
               value="{%- if not t or (t and t.source_require_sql_output == 1) -%} 1 {%- else -%} 0 {%- endif -%}" />
    </div>
    <!--
                raw code
-->
    <section class="task-sourceCode block"
             {% if not t or t.source_query_type_id != 4 %}style="display:none;"{% endif %}>
        <div class="field">
            <label class="label">Source Code</label>
            <textarea name="sourceCode" autocomplete="off" rows="1">{{ t.source_code or '' }}</textarea>
        </div>
    </section>
</div>
