{% extends "layout.html.j2" %}

{% block css %}
	{% assets "css_project" %}
		<link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}" />
	{% endassets %}
{% endblock %}

{% block js %}
	{% assets "js_project" %}
		<script type="text/javascript" src="{{ ASSET_URL }}" ></script>
	{% endassets %}
{% endblock %}

{% block body %}
	<h1 class="em-title">All Tasks {% if mine %} - {{mine}}{% endif %}{% if user_id %} (<a class="em-titleGrey" href="/task/user/{{user_id}}">See Tasks</a>){% endif %}</h1>
	<div class="em-ajaxTable" data-src="/task/{% if user_id %}{{user_id}}{% elif mine %}mine{% else %}all{% endif %}/list"><div class="loader"><img src="/static/img/loader.gif"></div></div>
{% endblock %}