{% extends "layout.html.j2" %}
	{% block js %}
	{% assets "js_project_new" %}
		<script type="text/javascript" src="{{ ASSET_URL }}" ></script>
	{% endassets %}
{% endblock %}
{% block css %}
	{% assets "css_project_new" %}
		<link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}" />
	{% endassets %}
{% endblock %}

{% block body %}
	<h1 class="em-title">{% if t %}Editing <a class="em-titleGrey" href="/task/{{t.id}}">{{ t.name }}</a> for <a class="em-titleGrey" href="/project/{{t.project.id}}">{{t.project.name}}</a>{% else %}New Task {% if p %}for <a class="em-titleGrey" href="/project/{{p.id}}">{{ p.name }}</a>{%endif %}{% endif %}</h1>
	<form action="{% if t %}/task/{{ t.id }}/edit{%else%}/project/{{p.id}}/task/new{%endif%}" method="post">

		<!--
			description
		-->
		<div class="em-inputTtl">Descriptive Name - A little knowledge is a dangerous thing!</div>
		<input class="em-input" name="name" autocomplete="off" required value="{{t.name}}"/><br>

		<!--
			data source
		-->
		<section>
		<h2>Data Source</h2>
			<!--
				Database
				Delimited File + Delimiter
				File2Email
			-->
			<select class="em-input" name="sourceType" required>
				<option selected>Choose one</option>
				{% for s in source_type %}
					<option value="{{ s.id }}" {%if s.id == t.source_type_id %} selected {%endif%}>{{ s.name }}</option>
				{% endfor %}
			</select>

			<!--
				if database
					SQL Server
					Postgresql
					Sqlite
			-->
			<!--
				if database
			-->
			<section class="task-sourceDatabase" {% if not t or t.source_type_id != 1 %}style="display:none;"{%endif%}>
				<div class="em-inputTtl">Organization</div>
				<select class="em-input" name="database_source" data-database="task-database-source-connection">
					<option {% if not t or not t.source_database_conn or not t.source_database_conn.connection.id %}selected="selected" {% endif %} value="none">Choose one</option>
					{% for s in conn %}
						<option value="{{ s.id }}" {% if t.source_database_conn and t.source_database_conn.connection.id  == s.id %}selected{% endif %} >{{ s.name }}</option>
					{% endfor %}
				</select>
				<div class="task-database-source-connection">
					{% if t and t.source_database_id %}
					{% include "pages/task/source/database_source.html.j2" %}
					{% endif %}
				</div>
				<div class="em-checkbox">
					<label class='checkbox-container'>
						<input type="checkbox" class="task_include_query_headers" {% if t and t.source_query_include_header == 1 %} checked="checked"{%endif %}/>
						<span class="checkmark"></span>
					</label>Include Query Headers?</div>
				<input type="hidden" name="task_include_query_headers" value='{% if t and t.source_query_include_header == 1 %}1{% else %}0{% endif %}'/>
			</section>

			<!--
				if File smb
			-->
			<section class="task-sourceSmb" {% if not t or t.source_type_id != 2 %}style="display:none;"{%endif%}>
				<div class="em-inputTtl tooltip">SMB Network File (path/to/file.csv) (%d/%m/%Y %H:%M:%S all <a href="https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior" target="_blank" class="em-link">python date/time variables</a> allowed) (wildcard * can be used in filenames)<span class="tooltiptext">{% include '/sections/py_dates.html.j2' %}</span></div>
				<input class="em-input" name="sourceSmbFile" autocomplete="off" value="{{t.source_smb_file or ''}}" />
				<div class="em-inputTtl">Delimiter (blank defaults to comma)</div>
				<input class="em-input" name="sourceSmbDelimiter" autocomplete="off" value="{{t.source_smb_delimiter or ''}}" />
				<div class="em-checkbox"><label class='checkbox-container'>
					<input type="checkbox" class="task_smb_ignore_delimiter" {% if not t or t.source_smb_ignore_delimiter == 1 %} checked="checked"{%endif %}/>
						<span class="checkmark"></span>
					</label>Ignore Delimiter</div>
					<input type="hidden" name="task_smb_ignore_delimiter" value='{% if not t or t.source_smb_ignore_delimiter == 1 %}1{% else %}0{% endif %}'/>
				<div class="em-inputTtl">Organization</div>
				<select class="em-input" name="smb_source" data-smb="task-smb-source-connection">
					<option {% if not t or not t.source_smb_conn or not t.source_smb_conn.connection.id %}selected="selected" {% endif %} value="none">Choose one</option>
					{% for s in conn %}
						<option value="{{ s.id }}" {% if t.source_smb_conn and t.source_smb_conn.connection.id  == s.id %}selected{% endif %} >{{ s.name }}</option>
					{% endfor %}
				</select>
				<div class="task-smb-source-connection">
					{% if t and t.source_smb_id %}
					{% include "pages/task/source/smb_source.html.j2" %}
					{% endif %}
				</div>
			</section>

			<!--
				if File SFTP
			-->
			<section class="task-sourceSftp" {% if not t or t.source_type_id != 3 %}style="display:none;"{%endif%}>
				<div class="em-inputTtl tooltip">SFTP File Name (path/to/file.csv) (%d/%m/%Y %H:%M:%S all <a href="https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior" target="_blank" class="em-link">python date/time variables</a> allowed)<span class="tooltiptext">{% include '/sections/py_dates.html.j2' %}</span></div>
				<input class="em-input" name="sourceSftpFile" autocomplete="off" value="{{t.source_sftp_file or ''}}" />
				<div class="em-inputTtl">Delimiter (blank defaults to comma)</div>
				<input class="em-input" name="sourceSftpDelimiter" autocomplete="off" value="{{t.source_sftp_delimiter or ''}}" />
				<div class="em-checkbox"><label class='checkbox-container'>
					<input type="checkbox" class="task_sftp_ignore_delimiter" {% if not t or t.source_sftp_ignore_delimiter == 1 %} checked="checked"{%endif %}/>
						<span class="checkmark"></span>
					</label>Ignore Delimiter</div>
					<input type="hidden" name="task_sftp_ignore_delimiter" value='{% if not t or t.source_sftp_ignore_delimiter == 1 %}1{% else %}0{% endif %}'/>
				<div class="em-inputTtl">Organization</div>
				<select class="em-input" name="sftp_source" data-sftp="task-sftp-source-connection">
					<option {% if not t or not t.source_sftp_conn or not t.source_sftp_conn.connection.id %}selected="selected" {% endif %} value="none">Choose one</option>
					{% for s in conn %}
						<option value="{{ s.id }}" {% if t.source_sftp_conn and t.source_sftp_conn.connection.id  == s.id %}selected{% endif %} >{{ s.name }}</option>
					{% endfor %}
				</select>
				<div class="task-sftp-source-connection">
					{% if t and t.source_sftp_id %}
					{% include "pages/task/source/sftp_source.html.j2" %}
					{% endif %}
				</div>
			</section>

			<!--
				if File FTP
			-->
			<section class="task-sourceFtp" {% if not t or t.source_type_id != 4 %}style="display:none;"{%endif%}>
				<div class="em-inputTtl tooltip">FTP File Name (path/to/file.csv) (%d/%m/%Y %H:%M:%S all <a href="https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior" target="_blank" class="em-link">python date/time variables</a> allowed)<span class="tooltiptext">{% include '/sections/py_dates.html.j2' %}</span></div>
				<input class="em-input" name="sourceFtpFile" autocomplete="off" value="{{t.source_ftp_file or ''}}" />
				<div class="em-inputTtl">Delimiter (blank defaults to comma)</div>
				<input class="em-input" name="sourceFtpDelimiter" autocomplete="off" value="{{t.source_ftp_delimiter or ''}}" />
				<div class="em-checkbox"><label class='checkbox-container'>
					<input type="checkbox" class="task_ftp_ignore_delimiter" {% if not t or t.source_ftp_ignore_delimiter == 1 %} checked="checked"{%endif %}/>
						<span class="checkmark"></span>
					</label>Ignore Delimiter</div>
					<input type="hidden" name="task_ftp_ignore_delimiter" value='{% if not t or t.source_ftp_ignore_delimiter == 1 %}1{% else %}0{% endif %}'/>
				<div class="em-inputTtl">Organization</div>
				<select class="em-input" name="ftp_source" data-ftp="task-ftp-source-connection">
					<option {% if not t or not t.source_ftp_conn or not t.source_ftp_conn.connection.id %}selected="selected" {% endif %} value="none">Choose one</option>
					{% for s in conn %}
						<option value="{{ s.id }}" {% if t.source_ftp_conn and t.source_ftp_conn.connection.id  == s.id %}selected{% endif %} >{{ s.name }}</option>
					{% endfor %}
				</select>
				<div class="task-ftp-source-connection">
					{% if t and t.source_ftp_id %}
					{% include "pages/task/source/ftp_source.html.j2" %}
					{% endif %}
				</div>
			</section>

			<!--
				if SSH
			-->

			<section class="task-sourceSsh" {% if not t or t.source_type_id != 6 %}style="display:none;"{%endif%}>
				<div class="em-inputTtl">Organization</div>
				<select class="em-input" name="ssh_source" data-ssh="task-ssh-source-connection">
					<option {% if not t or not t.source_ssh_conn or not t.source_ssh_conn.connection.id %}selected="selected" {% endif %} value="none">Choose one</option>
					{% for s in conn %}
						<option value="{{ s.id }}" {% if t.source_ssh_conn and t.source_ssh_conn.connection.id  == s.id %}selected{% endif %} >{{ s.name }}</option>
					{% endfor %}
				</select>
				<div class="task-ssh-source-connection">
					{% if t and t.source_ssh_id %}
					{% include "pages/task/source/ssh_source.html.j2" %}
					{% endif %}
				</div>
				<div class="em-inputTtl">Note: SSH Commands must be single line string. Commands can be separated with ";", for example: "sum=25;echo $sum"</div>
			</section>


		</section>

		<!--
			query source
		-->
		<section class="task-query-location" {% if not t or t.source_type_id == 3 or t.source_type_id == 2 or t.source_type_id == 5 %}style="display:none;"{%endif%}>

			<!--
				GIT (requires password in settings)
				File
				URL
			-->	
			<div class="em-inputTtl">Query Location</div>
			<select class="em-input" name="sourceQueryType">
				<option disabled {% if not t or t.source_query_type_id == None %}selected="selected" {% endif %}>Choose one</option>
				{% for s in source_query_type %}
					<option value="{{ s.id }}" {%if s.id == t.source_query_type_id %} selected {%endif%}>{{ s.name }}</option>
				{% endfor %}
			</select>

			<!--
				url to GIT or other source. Site settings must have base path configured. This site requires login
			-->
			<section class="task-sourceGit" {% if not t or t.source_query_type_id != 1 %}style="display:none;"{%endif%}>
				<div class="em-inputTtl">GIT Code URL (login configured by Admin)</div>
				<input class="em-input" name="sourceGit" autocomplete="off" value="{{t.source_git or ''}}" />
			</section>

			<!--
				smb
			-->
			<section class="task-sourceSmbQuery"  {% if not t or t.source_query_type_id != 2 %}style="display:none;"{%endif%}>
				<div class="em-inputTtl tooltip">SMB Network File (path/to/file.csv) (%d/%m/%Y %H:%M:%S all <a href="https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior" target="_blank" class="em-link">python date/time variables</a> allowed)<span class="tooltiptext">{% include '/sections/py_dates.html.j2' %}</span></div>
				<input class="em-input" name="sourceQuerySmbFile" autocomplete="off" value="{{t.query_smb_file or ''}}" />
				<div class="em-inputTtl">Organization</div>
				<select class="em-input" name="smb_query" data-smb="task-query-smb-source-connection">
					<option {% if not t or not t.query_smb_conn or not t.query_smb_conn.connection.id %}selected="selected" {% endif %} value="none">Choose one</option>
					{% for s in conn %}
						<option value="{{ s.id }}" {% if t.query_smb_conn and t.query_smb_conn.connection.id  == s.id %}selected{% endif %} >{{ s.name }}</option>
					{% endfor %}
				</select>
				<div class="task-query-smb-source-connection">
					{% if t and t.query_smb_id %}
					{% include "pages/task/query/smb_query.html.j2" %}
					{% endif %}
				</div>

			</section>

			<!--
				ftp
			-->
			<section class="task-sourceFtpQuery"  {% if not t or t.source_query_type_id != 6 %}style="display:none;"{%endif%}>
				<div class="em-inputTtl tooltip">FTP File Name (path/to/file.csv) (%d/%m/%Y %H:%M:%S all <a href="https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior" target="_blank" class="em-link">python date/time variables</a> allowed)<span class="tooltiptext">{% include '/sections/py_dates.html.j2' %}</span></div>
				<input class="em-input" name="sourceQueryFtpFile" autocomplete="off" value="{{t.query_ftp_file or ''}}" />
				<div class="em-inputTtl">Organization</div>
				<select class="em-input" name="ftp_query" data-ftp="task-query-ftp-source-connection">
					<option {% if not t or not t.query_ftp_conn or not t.query_ftp_conn.connection.id %}selected="selected" {% endif %} value="none">Choose one</option>
					{% for s in conn %}
						<option value="{{ s.id }}" {% if t.query_ftp_conn and t.query_ftp_conn.connection.id  == s.id %}selected{% endif %} >{{ s.name }}</option>
					{% endfor %}
				</select>
				<div class="task-query-ftp-source-connection">
					{% if t and t.query_ftp_id %}
					{% include "pages/task/query/ftp_query.html.j2" %}
					{% endif %}
				</div>
			</section>

			<!--
				sftp
			-->
			<section class="task-sourceSftpQuery"  {% if not t or t.source_query_type_id != 5 %}style="display:none;"{%endif%}>
				<div class="em-inputTtl tooltip">SFTP File Name (path/to/file.csv) (%d/%m/%Y %H:%M:%S all <a href="https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior" target="_blank" class="em-link">python date/time variables</a> allowed)<span class="tooltiptext">{% include '/sections/py_dates.html.j2' %}</span></div>
				<input class="em-input" name="sourceQuerySftpFile" autocomplete="off" value="{{t.query_sftp_file or ''}}" />
				<div class="em-inputTtl">Organization</div>
				<select class="em-input" name="sftp_query" data-sftp="task-query-sftp-source-connection">
					<option {% if not t or not t.query_sftp_conn or not t.query_sftp_conn.connection.id %}selected="selected" {% endif %} value="none">Choose one</option>
					{% for s in conn %}
						<option value="{{ s.id }}" {% if t.query_sftp_conn and t.query_sftp_conn.connection.id  == s.id %}selected{% endif %} >{{ s.name }}</option>
					{% endfor %}
				</select>
				<div class="task-query-sftp-source-connection">
					{% if t and t.query_sftp_id %}
					{% include "pages/task/query/sftp_query.html.j2" %}
					{% endif %}
				</div>
			</section>

			<!-- 
				code url - cannot require password
			-->
			<section class="task-sourceURL"  {% if not t or t.source_query_type_id != 3 %}style="display:none;"{%endif%}>
				<div class="em-inputTtl">Code URL (no login required)</div>
				<input class="em-input" name="sourceURL" autocomplete="off" value="{{t.source_url or ''}}"/>
			</section>

			<!--
				raw code
			-->
			<section class="task-sourceCode"  {% if not t or t.source_query_type_id != 4 %}style="display:none;"{%endif%}>
				<div class="em-inputTtl">Source Code</div>
				<textarea class="em-input" name="sourceCode" autocomplete="off" rows="1"/>{{t.source_code or ''}}</textarea>
			</section>

			<section class="task-queryParams">
				<div class="em-inputTtl">Query Params *note: will override any project params</div>
				<textarea class="em-input" name="queryParams" autocomplete="off" rows="1"/>{{t.query_params or ''}}</textarea>
			</section>

		</section>
		<!-- 
			processing scripts
		-->
		<section>
			<h2>Processing Script</h2>
			<select class="em-input" name="processingType" required>
				<option value="none">None</option>
				{% for s in processing_type %}
					<option value="{{ s.id }}" {%if s.id == t.processing_type_id %} selected {%endif%}>{{ s.name }}</option>
				{% endfor %}
			</select>

			<!-- SMB -->
			<section class="task-processingSmb" {% if not t or t.processing_type_id != 1 %}style="display:none;"{%endif%}>
				<div class="em-inputTtl tooltip">SMB Network File (path/to/file.csv) (%d/%m/%Y %H:%M:%S all <a href="https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior" target="_blank" class="em-link">python date/time variables</a> allowed)<span class="tooltiptext">{% include '/sections/py_dates.html.j2' %}</span></div>
				<input class="em-input" name="processingSmbFile" autocomplete="off" value="{{t.source_smb_file or ''}}" />
				<div class="em-inputTtl">Organization</div>
				<select class="em-input" name="smb_processing" data-smb="task-smb-processing-connection">
					<option {% if not t or not t.processing_smb_conn or not t.processing_smb_conn.connection.id %}selected="selected" {% endif %} value="none">Choose one</option>
					{% for s in conn %}
						<option value="{{ s.id }}" {% if t.processing_smb_conn and t.processing_smb_conn.connection.id  == s.id %}selected{% endif %} >{{ s.name }}</option>
					{% endfor %}
				</select>
				<div class="task-smb-processing-connection">
					{% if t and t.processing_smb_id %}
					{% include "pages/task/processing/smb_processing.html.j2" %}
					{% endif %}
				</div>
			</section>

			<!-- SFTP -->
			<section class="task-processingSftp" {% if not t or t.processing_type_id != 2 %}style="display:none;"{%endif%}>
				<div class="em-inputTtl tooltip">SFTP File Name (path/to/file.csv) (%d/%m/%Y %H:%M:%S all <a href="https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior" target="_blank" class="em-link">python date/time variables</a> allowed)<span class="tooltiptext">{% include '/sections/py_dates.html.j2' %}</span></div>
				<input class="em-input" name="processingSftpFile" autocomplete="off" value="{{t.processing_sftp_file or ''}}" />
				<div class="em-inputTtl">Organization</div>
				<select class="em-input" name="sftp_processing" data-sftp="task-sftp-processing-connection">
					<option {% if not t or not t.processing_sftp_conn or not t.processing_sftp_conn.connection.id %}selected="selected" {% endif %} value="none">Choose one</option>
					{% for s in conn %}
						<option value="{{ s.id }}" {% if t.processing_sftp_conn and t.processing_sftp_conn.connection.id  == s.id %}selected{% endif %} >{{ s.name }}</option>
					{% endfor %}
				</select>
				<div class="task-sftp-processing-connection">
					{% if t and t.processing_sftp_id %}
					{% include "pages/task/processing/sftp_processing.html.j2" %}
					{% endif %}
				</div>
			</section>

			<!-- FTP -->
			<section class="task-processingFtp" {% if not t or t.processing_type_id != 3 %}style="display:none;"{%endif%}>
				<div class="em-inputTtl tooltip">FTP File Name (path/to/file.csv) (%d/%m/%Y %H:%M:%S all <a href="https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior" target="_blank" class="em-link">python date/time variables</a> allowed)<span class="tooltiptext">{% include '/sections/py_dates.html.j2' %}</span></div>
				<input class="em-input" name="processingFtpFile" autocomplete="off" value="{{t.processing_ftp_file or ''}}" />
				<div class="em-inputTtl">Organization</div>
				<select class="em-input" name="ftp_processing" data-ftp="task-ftp-processing-connection">
					<option {% if not t or not t.processing_ftp_conn or not t.processing_ftp_conn.connection.id %}selected="selected" {% endif %} value="none">Choose one</option>
					{% for s in conn %}
						<option value="{{ s.id }}" {% if t.processing_ftp_conn and t.processing_ftp_conn.connection.id  == s.id %}selected{% endif %} >{{ s.name }}</option>
					{% endfor %}
				</select>
				<div class="task-ftp-processing-connection">
					{% if t and t.processing_ftp_id %}
					{% include "pages/task/processing/ftp_processing.html.j2" %}
					{% endif %}
				</div>
			</section>
				
			<!-- GIT -->
			<section class="task-processingGit" {% if not t or t.processing_type_id != 4 %}style="display:none;"{%endif%}>
				<div class="em-inputTtl">GIT Code URL (login configured by Admin)</div>
				<input class="em-input" name="processingGit" autocomplete="off" value="{{t.processing_git or ''}}" />
			</section>
			<!-- URL -->

			<section class="task-processingURL"  {% if not t or t.processing_type_id != 5 %}style="display:none;"{%endif%}>
				<div class="em-inputTtl">Code URL (no login required)</div>
				<input class="em-input" name="processingURL" autocomplete="off" value="{{t.processing_url or ''}}"/>
			</section>
			<!-- Code -->
			<section class="task-processingCode"  {% if not t or t.processing_type_id != 6 %}style="display:none;"{%endif%}>
				<div class="em-inputTtl">Source Code</div>
				<textarea class="em-input" name="processingCode" autocomplete="off" rows="1"/>{{t.processing_code or ''}}</textarea>
			</section>

			<section class="task-processingCommand" {% if not t or not t.processing_type_id or t.processing_type_id == 6 %}style="display:none;"{%endif%}>
				<div class="em-inputTtl">Command To Execute (ex: main.py) Required if a project directory was specified.</div>
				<input class="em-input" name="processingCommand" autocomplete="off" value="{{t.processing_command or ''}}" />
			</section>

		</section>

		<!--
			query destination
		-->
		<section>
			<h2>Data Destination</h2>
			<!--
				File Path
				Sftp Server
				Email
			-->
			
			<!-- 
				file name
			-->

			<div class="em-drop" data-toggle="clps" data-target="#task1-dest-file" data-task="1">File Name<svg class="em-dropIcon" viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg"><path d="m143 352.3-136-136c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/></svg>
			</div>
			<div class="clps" id="task1-dest-file">
				<div class="em-dropBody">

					<div class="em-inputTtl">File Type</div>

					<select class="em-input" name="fileType">
						<option {% if not t or not t.sftp or not t.sftp.destination.id %}selected="selected" {% endif %} value="none">Choose one</option>
						{% for s in file_type %}
							<option value="{{ s.id }}" {% if t.file_type and t.file_type.id  == s.id %}selected{% endif %} >{{ s.name }}</option>
						{% endfor %}
					</select>


					<div class="em-inputTtl tooltip">File Name (if filetype is other include file extension in name) (%d/%m/%Y %H:%M:%S all <a href="https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior" target="_blank" class="em-link">python date/time variables</a> allowed)<span class="tooltiptext">{% include '/sections/py_dates.html.j2' %}</span></div>
					<input class="em-input" name="destinationFileName" autocomplete="off" value="{{t.destination_file_name}}" />
					<div class="task-delimiter" {% if not t or (t and t.destination_file_type_id != 2 and t.destination_file_type_id != 4) %}style="display:none" {%endif %}>
						<div class="em-inputTtl">File Delimiter (defaults to comma)</div>
						<input class="em-input" name="fileDelimiter" autocomplete="off" value="{{t.destination_file_delimiter or ',' }}" />
						<div class="em-checkbox">
							<label class='checkbox-container'>
								<input type="checkbox" class="task_ignore_file_delimiter" {% if t and t.destination_ignore_delimiter == 1 %} checked="checked"{%endif %}/>
								<span class="checkmark"></span>
							</label>Ignore Delimiter</div>
						<input type="hidden" name="task_ignore_file_delimiter" value='{% if t and t.destination_ignore_delimiter == 1 %}1{% else %}0{% endif %}'/>
					</div>

					<div class="em-inputTtl">Quote Level</div>

					<select class="em-input" name="quoteLevel">
						{% for s in quote_level %}
							<option value="{{ s.id }}" {% if t.destination_file_quote_level and t.destination_file_quote_level.id  == s.id %}selected{% elif not t.destination_file_quote_level and s.id == 3 %}selected{% endif %} >{{ s.name }}</option>
						{% endfor %}
					</select>

					<div class="em-checkbox"><label class='checkbox-container'>

					<input type="checkbox" class="task_create_zip" {% if t and t.destination_create_zip == 1 %} checked="checked"{%endif %}/>
						<span class="checkmark"></span>
					</label>Save into a ZIP archive?</div>
					<input type="hidden" name="task_create_zip" value='{% if t and t.destination_create_zip == 1 %}1{% else %}0{% endif %}'/>

					<section class="task-destinationZip"  {% if not t  or (t and t.destination_create_zip != 1) %}style="display:none;"{%endif%}>
						<div class="em-inputTtl">ZIP File Name (%d/%m/%Y %H:%M:%S all <a href="https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior" target="_blank" class="em-link">python date/time variables</a> allowed)</div>
						<input class="em-input" name="destinationZipName" autocomplete="off" value="{{t.destination_zip_name or ''}}" />
					</section>

				</div>
			</div>

			<!--
				sftp location
			-->

			<div class="em-drop" data-toggle="clps" data-target="#task1-dest-sftp" data-task="1">SFTP Location<svg class="em-dropIcon" viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg"><path d="m143 352.3-136-136c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/></svg>
			</div>
			<div class="clps" id="task1-dest-sftp">
				<div class="em-dropBody">
					<div class="em-checkbox"><label class='checkbox-container'>
					<input type="checkbox" class="task_save_sftp" {% if t and t.destination_sftp == 1 %} checked="checked"{%endif %}/>
						<span class="checkmark"></span>
					</label>Upload files to SFTP server</div>
					<input type="hidden" name="task_save_sftp" value='{% if t and t.destination_sftp == 1 %}1{% else %}0{% endif %}'/>

					<div class="em-inputTtl">Organization</div>
						<select class="em-input" name="sftp_destination" data-sftp="task-sftp-connection">
							<option {% if not t or not t.destination_sftp_conn or not t.destination_sftp_conn.connection.id %}selected="selected" {% endif %} value="none">Choose one</option>
							{% for s in conn %}
								<option value="{{ s.id }}" {% if t.destination_sftp_conn and t.destination_sftp_conn.connection.id  == s.id %}selected{% endif %} >{{ s.name }}</option>
							{% endfor %}
						</select>
					<div class="task-sftp-connection">
						{% if t and t.destination_sftp_id %}
						{% include "pages/task/dest/sftp_dest.html.j2" %}
						{% endif %}
					</div>
					<div class="em-checkbox"><label class='checkbox-container'>
					<input type="checkbox" class="task_overwrite_sftp_if_exists" {% if not t or t.destination_sftp_overwrite == 1 %} checked="checked"{%endif %}/>
						<span class="checkmark"></span>
					</label>Overwrite file if exists</div>
					<input type="hidden" name="task_overwrite_sftp" value='{% if not t or t.destination_sftp_overwrite == 1 %}1{% else %}0{% endif %}'/>
				</div>
				
			</div>

			<!-- 
				smb location
			-->

			<div class="em-drop" data-toggle="clps" data-target="#task1-dest-smb" data-task="1">SMB (Network Folder) Location<svg class="em-dropIcon" viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg"><path d="m143 352.3-136-136c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/></svg>
			</div>
			<div class="clps" id="task1-dest-smb">
				<div class="em-dropBody">
					<div class="em-checkbox"><label class='checkbox-container'>
					<input type="checkbox" class="task_save_smb" {% if t and t.destination_smb == 1 %} checked="checked"{%endif %}/>
						<span class="checkmark"></span>
					</label>Upload files to SMB server (network file path)</div>
					<input type="hidden" name="task_save_smb" value='{% if t and t.destination_smb == 1 %}1{% else %}0{% endif %}'/>

					<div class="em-inputTtl">Organization</div>
						<select class="em-input" name="smb_destination" data-smb="task-smb-connection">
							<option {% if not t or not t.destination_smb_conn or not t.destination_smb_conn.connection.id %}selected="selected" {% endif %} value="none">Choose one</option>
							{% for s in conn %}
								<option value="{{ s.id }}" {% if t.destination_smb_conn and t.destination_smb_conn.connection.id  == s.id %}selected{% endif %} >{{ s.name }}</option>
							{% endfor %}
						</select>
					<div class="task-smb-connection">
						{% if t and t.destination_smb_id %}
						{% include "pages/task/dest/smb_dest.html.j2" %}
						{% endif %}
					</div>

					<div class="em-checkbox"><label class='checkbox-container'>
					<input type="checkbox" class="task_overwrite_smb_if_exists" {% if not t or t.destination_smb_overwrite == 1 %} checked="checked"{%endif %}/>
						<span class="checkmark"></span>
					</label>Overwrite if exists</div>
					<input type="hidden" name="task_overwrite_smb" value='{% if not t or t.destination_smb_overwrite == 1 %}1{% else %}0{% endif %}'/>
				</div>
			</div>

			<!-- 
				ftp location
			-->

			<div class="em-drop" data-toggle="clps" data-target="#task1-dest-ftp" data-task="1">FTP Location<svg class="em-dropIcon" viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg"><path d="m143 352.3-136-136c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/></svg>
			</div>
			<div class="clps" id="task1-dest-ftp">
				<div class="em-dropBody">
					<div class="em-checkbox"><label class='checkbox-container'>
					<input type="checkbox" class="task_save_ftp" {% if t and t.destination_ftp == 1 %} checked="checked"{%endif %}/>
						<span class="checkmark"></span>
					</label>Upload files to FTP server (network file path)</div>
					<input type="hidden" name="task_save_ftp" value='{% if t and t.destination_ftp == 1 %}1{% else %}0{% endif %}'/>

					<div class="em-inputTtl">Organization</div>
						<select class="em-input" name="ftp_destination" data-ftp="task-ftp-connection">
							<option {% if not t or not t.destination_ftp_conn or not t.destination_ftp_conn.connection.id %}selected="selected" {% endif %} value="none">Choose one</option>
							{% for s in conn %}
								<option value="{{ s.id }}" {% if t.destination_ftp_conn and t.destination_ftp_conn.connection.id  == s.id %}selected{% endif %} >{{ s.name }}</option>
							{% endfor %}
						</select>
					<div class="task-ftp-connection">
						{% if t and t.destination_ftp_id %}
						{% include "pages/task/dest/ftp_dest.html.j2" %}
						{% endif %}
					</div>

					<div class="em-checkbox"><label class='checkbox-container'>
					<input type="checkbox" class="task_overwrite_ftp_if_exists" {% if not t or t.destination_ftp_overwrite == 1 %} checked="checked"{%endif %}/>
						<span class="checkmark"></span>
					</label>Overwrite if exists</div>
					<input type="hidden" name="task_overwrite_ftp" value='{% if not t or t.destination_ftp_overwrite == 1 %}1{% else %}0{% endif %}'/>
				</div>
			</div>
<!--
			<div class="em-drop" data-toggle="clps" data-target="#task1-dest-email" data-task="1">Email<svg class="em-dropIcon" viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg"><path d="m143 352.3-136-136c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/></svg>
			</div>
			<div class="clps" id="task1-dest-email">
				<div class="em-dropBody">
					some cool stuff
				</div>
			</div>
-->
			
		</section>


	
		<!-- 
			email settings
		-->

		<div class="em-drop" data-toggle="clps" data-target="#task1-email" data-task="1">Email<svg class="em-dropIcon" viewBox="0 0 320 512" xmlns="http://www.w3.org/2000/svg"><path d="m143 352.3-136-136c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/></svg>
		</div>
		<div class="clps" id="task1-email">
			<div class="em-dropBody">

				<!--
					send success message? check
				-->
				
				<h3>Completion Email</h3>
				<div><label class='checkbox-container'>
					<input type="checkbox" class="send_completion_email_check" {% if t and t.email_completion == 1 %} checked="checked"{%endif %}/>
					<span class="checkmark"></span>
				</label>Send Completion Email.</div>
				<input type="hidden" name="task_send_completion_email" value='{% if t and t.email_completion == 1 %}1{% else %}0{% endif %}'/>

				<!-- 
					success message & destination
				-->
				<div class="em-inputTtl">Destination (separate addresses with ";")</div>
				<input class="em-input" name="completionEmailRecip" autocomplete="off" value="{{t.email_completion_recipients or ''}}"/>

				<div class="em-inputTtl">Message</div>
				<textarea class="em-input" name="completion_email_msg" autocomplete="off">{{t.email_completion_message or ''}}</textarea>

				<!--
					include run log? check
				-->

				<div><label class='checkbox-container'>
					<input type="checkbox" class="send_completion_email_log_check" {% if t and t.email_completion_log == 1 %} checked="checked"{%endif %}/>
					<span class="checkmark"></span>
				</label>Include run log?</div>
				<input type="hidden" name="task_send_completion_email_log" value='{% if t and t.email_completion_log == 1 %}1{%else%}0{%endif%}'/>
				
				<!-- 
					attach file to email?
				-->

				<div><label class='checkbox-container'>
					<input type="checkbox" class="send_output_check" {% if t and t.email_completion_file == 1 %} checked="checked"{%endif %}/>
					<span class="checkmark"></span>
				</label>Attach output file to email?</div>
				<input type="hidden" name="task_send_output" value='{% if t and t.email_completion_file == 1 %}1{% else %}0{% endif %}'/>

				<!--
					don't send email if file is empty?
				-->
				<div><label class='checkbox-container'>
					<input type="checkbox" class="task_dont_send_empty" {% if t and t.email_completion_dont_send_empty_file == 1 %} checked="checked"{%endif %}/>
					<span class="checkmark"></span>
				</label>Don't email if file is empty?</div>
				<input type="hidden" name="task_dont_send_empty" value='{% if t and t.email_completion_dont_send_empty_file == 1 %}1{% else %}0{% endif %}'/>

				<!-- 
					Send an error email?
				-->

				<h3>Error Email</h3>
				<div><label class='checkbox-container'>
					<input type="checkbox" class="send_error_email_check" {% if t and t.email_error == 1 %} checked="checked"{%endif %}/>
					<span class="checkmark"></span>
				</label>Send Error Email.</div>
				<input type="hidden" name="task_send_error_email" value='{% if t and t.email_error == 1 %}1{% else %}0{% endif %}'/>

				<!--
					email recip and message
				-->
				<div class="em-inputTtl">Error Destination (separate addresses with ";")</div>
				<input class="em-input" name="errorEmailRecip" autocomplete="off" value="{{t.email_error_recipients or ''}}"/>

				<div class="em-inputTtl">Error Message</div>
				<textarea class="em-input" name="errorEmailMsg" autocomplete="off">{{t.email_error_message or ''}}</textarea>
				
				<div class="em-inputTtl">Run log will be included.</div>
				
			</div>
		</div>


		<!-- 
			enabled y/n
		-->
		<h3 class="em-dropHead"><label class='checkbox-container'>
			<input type="checkbox" class="task_ooff_check" {% if not t or t.enabled == 1 %} checked="checked"{%endif %}/>
			<span class="checkmark"></span>
		</label>Enable triggers for this task</h3>
		<input type="hidden" name="task-ooff" value='{% if not t or t.enabled == 1 %}1{% else %}0{% endif %}'/>

		<input class="em-submit" type="submit" value="{% if t %}Save Task{% else %}Add Task{%endif%}" />



	</form>
	
{% endblock %}