{% extends "layout.html.j2" %}
{% block js %}
{% assets "js_project_details" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
{% block css %}
{% assets "css_project_details" %}
<link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}
{% endblock %}

{% block body %}

{% if invalid == True %}
<h1>Invalid job.</h1>
<h2>Maybe try <a class="em-titleGrey" href="/project">all tasks</a>?</h2>
{% else %}
<h1 class="em-title">Run data for {{ run }} (Task <a class="em-titleGrey" href="/task/{{t.id}}">{{t.name}}</a>) {% if t.project %}(Project <a class="em-titleGrey" href="/project/{{t.project.id}}">{{ t.project.name }}</a>){% endif %}</h1>

<div class="em-ajaxTable" data-src="/task/{{t.id}}/runlog/{{run}}"><div class="loader"><img src="/static/img/loader.gif"></div></div>

{% endif %}
{% endblock %}