<nav class="level has-background-white-ter">
    <div class="container pb-3">
        <div class="columns">
            <div class="column">
                <h1 class="title is-1 mt-3">Atlas Automation Hub Demo</h1>
            </div>
            <div class="column has-text-right mt-4">
                Copyright © 2021 Riverside Healthcare
                <br />
                View the
                <a title="source code"
                   target="_blank"
                   href="https://github.com/atlas-bi/atlas-automation-hub">source code</a>
                -  Read the
                <a title="source code"
                   target="_blank"
                   href="https://www.atlas.bi/docs/automation-hub/">documentation</a>
            </div>
        </div>
    </div>
    <script async defer data-website-id="6b7f4516-4be5-46a1-8889-b3f7dc0327d3" src="https://analytics.atlas.bi/umami.js"></script>
</nav>
