{% extends "layout.html.j2" %}

{% block body_auth %}
    <div class="container pt-5">
        <h1 class="title is-1">Opps, that was an error (lol)</h1>
        <p class="content">
            {{ message }}
        </p>
        <h2 class="title is-2">Trace</h2>
        <pre>
<code class="language-bash" style="white-space: pre-wrap;">{{ trace }}</code>
                                </pre>
</div>
{% endblock body_auth %}
