{% if sftp_query|length ==0 %}
    <article class="message is-danger">
        <div class="message-body">There are no connections set up. Set up a connection first.</div>
    </article>
{% else %}
    <div class="field">
        <label class="label">Connection</label>
        <div class="select is-fullwidth">
            <select class="input" name="task-query-sftp">
                <option disabled="disabled" {% if not t %}selected="selected"{% endif %}>
                    Choose one
                </option>
                {% for s in sftp_query %}
                    <option value="{{ s.id }}"
                            {% if t and t.query_sftp_id == s.id %}selected="selected"{% endif %}>
                        {{ s.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endif %}
