{% extends "layout.html.j2" %}

{% block crumbs %}
    <ul>
        <li>
            <a href="{{ url_for('connection_bp.all_connections') }}">All Connections</a>
        </li>
        <li>
            <a href="{{ url_for('connection_bp.one_connection', connection_id=connection.id) }}">{{ connection }}</a>
        </li>
        <li class="is-active">
            <a href="" aria-current="page">
                {% if ftp %}
                    Editing {{ ftp }}
                {% else %}
                    New FTP Connection
                {% endif %}
            </a>
        </li>
    </ul>
{% endblock crumbs %}

{% block body %}
    <h1 class="title is-1">
        {% if ftp %}
            Editing
            <span class="has-text-link">{{ ftp }}</span>
        {% else %}
            New FTP Connection
        {% endif %}
    </h1>
    <form action="{% if ftp -%}
                      {{ url_for('connection_bp.edit_connection_ftp', ftp_id=ftp.id, connection_id=connection.id) }}
                  {%- else -%}
                      {{ url_for('connection_bp.new_connection_ftp', connection_id=connection.id) }}
                  {%- endif %}"
          method="POST">
        <div class="field">
            <label class="label">
                Name
                <span class="has-text-grey">*</span>
            </label>
            <input class="input"
                   required
                   type="text"
                   name="name"
                   placeholder="friendly name"
                   value="{% if ftp -%}
                              {{ ftp.name }}
                          {%- endif %}"/>
        </div>
        <div class="field">
            <label class="label">
                Address
                <span class="has-text-grey">*</span>
            </label>
            <input class="input"
                   required
                   type="text"
                   name="address"
                   placeholder="ftp.google.com"
                   value="{% if ftp -%}
                              {{ ftp.address or '' }}
                          {%- endif %}"/>
        </div>
        <div class="field">
            <label class="label">
                Path
                <span class="has-text-grey">*</span>
            </label>
            <input class="input"
                required
                type="text"
                name="path"
                placeholder="/path/to/somewhere"
                value="{% if ftp -%}{{ ftp.path or '' }}{%- endif %}"/>
            </div>
            <div class="field">
                <label class="label">
                    Username
                    <span class="has-text-grey">*</span>
                </label>
                <input class="input"
                       required
                       type="text"
                       name="username"
                       placeholder="username"
                       value="{% if ftp -%}
                                  {{ ftp.username or '' }}
                              {%- endif %}"/>
            </div>
            <div class="field">
                <label class="label">
                    Password
                    <span class="has-text-grey">*</span>
                </label>
                <div class="field has-addons">
                    <p class="control is-expanded">
                        <input class="input"
                               required
                               type="password"
                               name="password"
                               placeholder="password"
                               value="{% if ftp -%}
                                          {{ ftp.password|decrypt or '' }}
                                      {%- endif %}"/>
                    </p>
                    <div class="control">
                        <a class="button toggle-pass "data-target="password">
                            <span class="icon">
                                <i class="fas fa-eye"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <button class="button is-info is-fullwidth my-5" type="submit">
                {% if ftp %}
                    Save
                {% else %}
                    Add
                {% endif %}
                FTP Connection
            </button>
        </form>
    {% endblock body %}
