{% extends "layout.html.j2" %}

{% block crumbs %}
    <ul>
        <li>
            <a href="{{ url_for('connection_bp.all_connections') }}">All Connections</a>
        </li>
        <li class="is-active">
            <a href="" aria-current="page">
                {% if connection %}
                    Editing&nbsp;
                    <span class="has-text-link">{{ connection }}</span>
                {% else %}
                    New Connection
                {% endif %}
            </a>
        </li>
    </ul>
{% endblock crumbs %}

{% block body %}
    <h1 class="title is-1">
        {% if connection %}
            Editing
            <span class="has-text-link">{{ connection }}</span>
        {% else %}
            New Connection
        {% endif %}
    </h1>
    <!-- collapse for new connection group -->
    <form method="post"
          action="{%- if connection -%}{{ url_for('connection_bp.edit_connection', connection_id=connection.id) }}{%- else -%}{{ url_for('connection_bp.new_connection') }}{%- endif -%}">
        <div class="field">
            <label class="label">Name</label>
            <input class="input"
                   type="text"
                   name="name"
                   autocomplete="off"
                   required="required"
                   value="{%- if connection -%}{{ connection.name or '' }}{%- endif -%}" />
        </div>
        <div class="field">
            <label class="label">Description</label>
            <input class="input"
                   type="text"
                   name="description"
                   autocomplete="off"
                   required="required"
                   value="{%- if connection -%}{{ connection.description or '' }}{%- endif -%}" />
        </div>
        <div class="field">
            <label class="label">Address</label>
            <input class="input"
                   type="text"
                   name="address"
                   autocomplete="off"
                   value="{%- if connection -%}{{ connection.address or '' }}{%- endif -%}" />
        </div>
        <div class="field">
            <label class="label">Primary Contact</label>
            <input class="input"
                   type="text"
                   name="contact"
                   autocomplete="off"
                   value="{%- if connection -%}{{ connection.primary_contact or '' }}{%- endif -%}" />
        </div>
        <div class="field">
            <label class="label">Email Address</label>
            <input class="input"
                   type="text"
                   name="email"
                   autocomplete="off"
                   value="{%- if connection -%}{{ connection.primary_contact_email or '' }}{%- endif -%}" />
        </div>
        <div class="field">
            <label class="label">Phone</label>
            <input class="input"
                   type="text"
                   name="phone"
                   autocomplete="off"
                   value="{%- if connection -%}{{ connection.primary_contact_phone or '' }}{%- endif -%}" />
        </div>
        <button class="button is-info is-fullwidth my-5" type="submit">
            {% if connection %}
                Save
            {% else %}
                Add
            {% endif %}
            Connection
        </button>
    </form>
{% endblock body %}
