{% extends "layout.html.j2" %}

{% block crumbs %}
    <ul>
        <li>
            <a href="{{ url_for("connection_bp.all_connections") }}">All Connections</a>
        </li>
        <li>
            <a href="{{ url_for('connection_bp.one_connection', connection_id=connection.id) }}">{{ connection }}</a>
        </li>
        <li class="is-active">
            <a href="" aria-current="page">
                {% if sftp %}
                    Editing {{ sftp }}
                {% else %}
                    New SFTP Connection
                {% endif %}
            </a>
        </li>
    </ul>
{% endblock crumbs %}

{% block body %}
    <h1 class="title is-1">
        {% if sftp %}
            Editing
            <span class="has-text-link">{{ sftp }}</span>
        {% else %}
            New SFTP Connection
        {% endif %}
    </h1>
    <form action="{%- if sftp -%} {{ url_for('connection_bp.edit_connection_sftp', sftp_id=sftp.id, connection_id=connection.id) }} {%- else -%} {{ url_for('connection_bp.new_connection_sftp', connection_id=connection.id) }} {%- endif -%}"
          method="post">
        <div class="field">
            <label class="label">
                Name
                <span class="has-text-grey">*</span>
            </label>
            <input class="input"
                   required
                   type="text"
                   name="name"
                   placeholder="friendly name"
                   value="{%- if sftp -%}{{ sftp.name }}{%- endif -%}" />
        </div>
        <div class="field">
            <label class="label">
                Address
                <span class="has-text-grey">*</span>
            </label>
            <input class="input"
                   required
                   type="text"
                   name="address"
                   placeholder="sftp.google.com"
                   value="{%- if sftp -%}{{ sftp.address or '' }}{%- endif -%}" />
        </div>
        <div class="field">
            <label class="label">
                Port
                <span class="has-text-grey">*</span>
            </label>
            <input class="input"
                   required
                   type="number"
                   name="port"
                   placeholder="22"
                   value="{%- if sftp -%}{{ sftp.port or 22 }}{%- endif -%}" />
        </div>
        <div class="field">
            <label class="label">
                Path
                <span class="has-text-grey">*</span>
            </label>
            <input class="input"
                   required
                   type="text"
                   name="path"
                   placeholder="/path/to/somewhere"
                   value="{%- if sftp -%}{{ sftp.path or '' }}{%- endif -%}" />
        </div>
        <div class="field">
            <label class="label">
                Username
                <span class="has-text-grey">*</span>
            </label>
            <input class="input"
                   required
                   type="text"
                   name="username"
                   placeholder="username"
                   value="{%- if sftp -%}{{ sftp.username or '' }}{%- endif -%}" />
        </div>
        <div class="field">
            <label class="label">Password</label>
            <div class="field has-addons">
                <p class="control is-expanded">
                    <input class="input"
                           type="password"
                           name="password"
                           placeholder="password"
                           value="{%- if sftp -%}{{ sftp.password|decrypt or '' }}{%- endif -%}" />
                </p>
                <div class="control">
                    <a class="button toggle-pass "data-target="password">
                        <span class="icon">
                            <i class="fas fa-eye"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">Key Password</label>
            <div class="field has-addons">
                <p class="control is-expanded">
                    <input class="input"
                           type="password"
                           name="key_password"
                           placeholder="key_password"
                           value="{%- if sftp -%}{{ sftp.key_password|decrypt or '' }}{%- endif -%}" />
                </p>
                <div class="control">
                    <a class="button toggle-pass "data-target="key_password">
                        <span class="icon">
                            <i class="fas fa-eye"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">SSH Key</label>
        </div>
        <style>.CodeMirror {height: 100px;}</style>
        <textarea class="connection_string" name="ssh_key">{% if sftp and sftp.key -%}{{ sftp.key|decrypt }}{%- endif -%}</textarea>
        <button class="button is-info is-fullwidth my-5" type="submit">
            {% if sftp %}
                Save
            {% else %}
                Add
            {% endif %}
            SFTP Connection
        </button>
    </form>
{% endblock body %}
