<div class="em-inputTtl">
    Connection Name
</div>
{% if ssh_source|length ==0 %}
    <span class="em-error">
        There are no connections set up.
        <a class="em-link" title="set up a new connection" href="/connection">
            Set up a connection first.
        </a>
    </span>
{% else %}
    <select class="em-input" name="task-source-ssh">
        <option disabled="disabled" {% if not t %}selected="selected"{% endif %}>
            Choose one
        </option>
        {% for s in ssh_source %}
            <option value="{{ s.id }}" {% if t and t.source_ssh_id == s.id %}selected="selected"{% endif %}>
                {{ s.name }}
            </option>
        {% endfor %}
    </select>
{% endif %}
