{% with messages = get_flashed_messages() %}
    {% for message in messages %}
        <div class="notification is-warning" id="executor-status">
            <button class="delete"></button>
            <span style="inline-block">{{ message }}</span>
        </div>
    {% endfor %}
{% endwith %}
