add -1 or +1 etc for time delta to any var
adding - after % will remove leading 0 in most cases
lastday last day of month (29-31)
of prior date field
firstday first day of month (1)
firstday0 first day of month (01)
%f Microsecond (000000 - 999999)
%S Second (00 - 99)
%s DateTime as seconds
%M Minute (00 - 59)
%H Hour (24-hour clock) (00 - 23)
%I Hour (12-hour clock) (01 - 12)
%p AM or PM
%a Weekday (Sun - Sat)
%A Weekday (Sunday - Saturday)
%w Weekday (0 - 6)
%d Day of the month (01 - 31)
%U Week number of the year (00 - 53)
%W Week number of the year (0 - 53)
%b Month (Jan - Dec)
%B Month (January - December)
%m Month (01-12)
%y Year without century (00 - 99)
%Y Year with centruy (0001 - 9999)
%c Simple date time (Tue Aug 16 21:30:00 1988)
%x Simple date (08/16/1988)
%X Simple time (21:30:00)
