[Unit]
Description=Atlas Automation Hub Webapp / Gunicorn
After=network.target

[Service]
User=webapp
Group=www-data
WorkingDirectory=/home/websites/atlas_hub/hash
Environment="PATH=/home/websites/atlas_hub/hash/.venv/bin"
ExecStart=/home/websites/atlas_hub/hash/.venv/bin/gunicorn --worker-class=gevent --worker-connections=1000 --workers 4 --timeout 999999999 --access-logfile /home/websites/atlas_hub/hash/web/logs/gunicorn-access.log --error-logfile /home/websites/atlas_hub/hash/web/logs/gunicorn-error.log --capture-output --bind  unix:web.sock --umask 007 web:app 

[Install]
WantedBy=multi-user.target
