{% extends "layout.html.j2" %}

{% block crumbs %}
    <ul>
        <li>
            <a href="{{ url_for('project_bp.all_projects') }}">All Projects</a>
        </li>
        <li class="is-active">
            {% if p %}
                <a href="" aria-current="page">Editing {{ p }}</a>
            {% else %}
                <a href="" aria-current="page">New Project</a>
            {% endif %}
        </li>
    </ul>
{% endblock crumbs %}

{% block body %}
    <h1 class="title is-1" data-docs="projects">
        {% if p %}
            Editing
            <a title="open project"
               href="{{ url_for('project_bp.one_project', project_id =p.id) }}">{{ p }}</a>
        {% else %}
            New Project
        {% endif %}
    </h1>
    <form method="post"
          action="{% if p -%}{{ url_for('project_bp.edit_project', project_id=p.id) }}{%- else -%}{{ url_for('project_bp.new_project') }}{%- endif %}"
          id="project-new">
        <div class="box">
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input"
                           name="project_name"
                           autocomplete="off"
                           required="required"
                           value="{{ p.name }}"/>
                </div>
            </div>
            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                    <textarea class="textarea" name="project_desc">{{ p.description }}</textarea>
                </div>
            </div>
            {% if p %}
                <div class="field">
                    <input class="is-checkradio is-info"
                           id="project_take_ownership"
                           type="checkbox"
                           checked="checked"/>
                    <label for="project_take_ownership">Take Ownership of Project</label>
                    <input type="hidden" name="project_ownership" value="0"/>
                </div>
            {% endif %}
            <div class="field">
                <input class="is-checkradio is-info"
                       type="checkbox"
                       id="run_tasks_in_sequence"
                       {% if p.sequence_tasks == 1 %}checked="checked"{% endif %}/>
                <label for="run_tasks_in_sequence">Run Tasks in Sequence</label>
                <input type="hidden"
                       name="run_tasks_in_sequence"
                       value="{{ p.sequence_tasks or 0 }}"/>
            </div>
        </div>
        <div class="box">
            {% include "pages/project/cron.html.j2" %}

        </div>
        <div class="box">
            {% include "pages/project/interval.html.j2" %}

        </div>
        <div class="box">
            {% include "pages/project/oneoff.html.j2" %}

        </div>
        <div class="box">
            <h2 class="title is-2" data-docs="parameters">Global Parameters</h2>
            <p class="subtitle is-6">
                Parameters are <strong>key=value</strong> pairs, and can use <strong>parse(...)</strong> with embedded
                <a href="" target="_blank" rel="noopener">strftime patterns</a>
                . Project parameters are passed to child tasks.
            </p>
            <div class="field">
                <div class="control">
                    <textarea class="textarea" name="globalParams" rows="1">{{ p.global_params or '' }}</textarea>
                </div>
            </div>
        </div>
        <button class="button is-info is-fullwidth mb-5" type="submit">
            {% if p %}
                Save
            {% else %}
                Add
            {% endif %}
            Project
        </button>
    </form>
{% endblock body %}
