<h2 class="title is-2" data-docs="projects#one-off">Date Schedule - Run one time</h2>
<div class="field">
    <input class="is-checkradio is-info"
           id="project_ooff_check"
           type="checkbox"
           data-target="project-ooff"
           {% if p.ooff == 1 %}checked="checked"{% endif %}/>
    <label for="project_ooff_check">Use a one time schedule</label>
    <input type="hidden" name="project_ooff" value="{{ p.ooff or 0 }}"/>
</div>
<div class="project-ooff"
     {% if not p or p and p.ooff !=1 %}
         style="display:none;"
     {% endif %}>
    <label class="label">When? Leave blank to run immediately.</label>
    <div class="field is-grouped">
        <div class="control is-expanded">
            <input class="input em-inputEraser"
                   name="project_ooff_date"
                   id="project_ooff_date"
                   placeholder="select date"
                   value="{{ p.ooff_date or '' }}"/>
        </div>
        <div class="control">
            <a class="button em-eraseInput"
               data-target="project_ooff_date"
               data-toggle="erasor">
                <span class="icon is-small">
                    <i class="fas fa-delete-left"></i>
                </span>
            </a>
        </div>
    </div>
</div>
