@use "sass:math";
@use "sass:meta";
@use '../../../node_modules/@fontsource/inter/scss/mixins' as Inter;
@use '../../../node_modules/@fontsource/rasa/scss/mixins' as Rasa;
@use '../../../node_modules/bulma/sass/utilities' with(

$family-primary:
  'Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Lucida Sans Unicode, Lucida Grande, Arial, sans-serif',
  $cssvars-prefix: ""
);
@use '../../../node_modules/bulma/sass/elements' with (
  $title-family: "Rasa, Georgia, Times New Roman, serif"
);
@forward "../../../node_modules/bulma/sass/base";
@use "../../../node_modules/bulma/sass/components" with (
  $breadcrumb-item-active-color: #363636
);

@forward "../../../node_modules/bulma/sass/layout";
@forward "../../../node_modules/bulma/sass/form";
@forward "../../../node_modules/bulma/sass/grid";
@forward "../../../node_modules/bulma/sass/helpers";

// Import the themes so that all CSS variables have a value
@use "../../../node_modules/bulma/sass/themes";

@forward 'bulma-switch';
@forward 'bulma-tooltip';
@forward 'bulma-checkradio';
/* purgecss start ignore */
@forward '../fonts/fontawesome/stylesheet';
@forward '../lib/codemirror/codemirror';
@forward '../lib/codemirror/ttcn';
@forward '../lib/codemirror/simplescrollbars';
@forward '../lib/scroll/scroll';
@forward '../lib/prism/prism';
@forward '../lib/table/table';
@forward '../lib/prism/prism_line_numbers';
@forward '../lib/flatpickr/flatpickr';

@include Inter.faces(
  $family: 'Inter',
  $subsets: latin,
  $weights: (
    300,
    400,
    500,
    600,
    700,
  ),
  $directory: '/static/fonts/inter/files',
  $display: swap
);

@include Rasa.faces(
  $family: 'Rasa',
  $subsets: latin,
  $weights: 600,
  $directory: '/static/fonts/rasa/files',
  $display: swap
);


.column {
  min-width: 0px;
}

.atlas-navbar {
  padding: 16px 0;

  .navbar-brand {
    margin-left: 0 !important;
    a {
      padding-top: 0;
      padding-bottom: 0;

      img {
        max-height: 50px;
        height: 50px;
      }
    }
  }
  a.navbar-item {
    &:hover {
      color: utilities.$grey-darker;
    }
  }
  .has-dropdown {
    .navbar-link {
      &:hover {
        color: utilities.$grey-darker;
      }
    }
  }
}

@media screen and (min-width: utilities.$desktop) {
  .atlas-navbar .navbar-start {
    padding-top: 0 !important;
  }
}

@media screen and (min-width: utilities.$desktop) {
  .hide-desktop {
    display: none !important;
  }
}

/* search */

#search-form {
  position: relative;
}
#search-results {
  position: absolute;
  top: 50px;
  left: 0;
  min-width: 100%;
  min-width: max(50vw, 100%);
  max-width: 800px;
  display: none;
  border-radius: utilities.$radius;
  z-index: 999999;
  max-height: calc(100vh - 145px);
  overflow-y: auto;
}

@media screen and (min-width: utilities.$desktop) {
  #search-results {
    min-width: max(30vw, 100%);
  }
}

#search-results:empty {
  display: none !important;
}

#search-results:active,
#search-results.search-focus {
  display: block;
  //box-shadow: utilities.$shadow;
  border: 1px solid utilities.$border;
}

#search-results .panel-block:first-of-type {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

#search-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  z-index: 10;
  display: none;
}
#search-background.search-focus-background {
  display: block;
}

#search-background + div {
  z-index: 11;
}

#search-results em {
  background-color: rgb(239, 245, 251);
  color: rgb(62, 142, 208);
}

/*** tabs ***/

.tab-cnt > .tab-dta:not(.is-active) {
  display: none;
}

/*** tags ***/

.tag:empty {
  background: transparent;
}

/*** multiline tooltip ***/

[data-tooltip].has-tooltip-multiline::before {
  white-space: pre-line !important;
}

[data-tooltip]::before {
  max-width: 21rem !important;
  width: 21rem !important;
}

/* font */
.is-size-6-5 {
  font-size: 0.85rem !important;
}

/* input */

input.transparent {
  border: transparent !important;
  background: transparent !important;
}

/* pagination */
.pagination.is-close ul li:not(:first-of-type) .pagination-link {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.pagination.is-close ul li:not(:last-child) .pagination-link {
  margin-right: -1px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.pagination.is-close ul li:not(:last-child) .pagination-link:hover {
  margin-right: 0px;
  z-index: 4;
}
.pagination.is-close ul li:not(:last-child):hover + li .pagination-link {
  margin-left: -1px;
}

/* logs */
.log-group div[log_id].is-collapsed {
  height: 20px;
  overflow: hidden;
  align-items: baseline;
}

.log-group.first-of-type {
  margin-top: 15px;
}

.em-codeBox {
  max-height: 500px;
  overflow: hidden;
}

.em-codeBox pre {
  display: inline-block;
  min-width: calc(100%);
  min-height: calc(100% - 1px);
  padding: 1em 0 0 1em;
  margin: 0 !important;
  overflow: hidden !important;
}

.em-codeBox code {
  padding-right: 130px;
}

.em-timelineScale {
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 0;
}
.em-timelineLiner {
  padding-left: 50px;
  position: relative;
  &::before {
    content: 'runs/\A   time';
    position: absolute;
    left: 0;
    bottom: -20px;
    white-space: pre-wrap;
  }
}
.em-el {
  height: 200px;
}

.em-elBar {
  position: relative;
  height: 0;
  &::before {
    content: attr(data-attr);
    position: absolute;
    bottom: -30px;
    background: utilities.$white;
    right: 0;
    left: 0;
  }
}
.em-ScaleBar {
  height: 1px;
  width: 100%;
  background: utilities.$grey-light;
  position: relative;
  margin-bottom: 50px;
  &::before {
    content: attr(data-attr);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: utilities.$white;
    padding-right: 10px;
    color: utilities.$grey-dark;
  }
  &:last-of-type {
    background: transparent;
  }
}

/* fix bulma + prism */
code .number {
  all: unset;
}

.is-inlineblock {
  display: inline-block !important;
}

/* links in message */
article.message a {
  text-decoration: none !important;
}
/* ajax loader */

.em-ajaxContent.is-inline div {
  display: inline-block;
}
/* purgecss end ignore */
