/* rasa-vietnamese-700-italic */
@font-face {
  font-family: 'Rasa';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(/static/fonts/rasa/files/rasa-vietnamese-700-italic.woff2) format('woff2'), url(/static/fonts/rasa/files/rasa-vietnamese-700-italic.woff) format('woff');
}
