<div class="em-inputTtl">Connection Name</div>
{% if ftp_query|length ==0 %}
    <span class="em-error">
        There are no connections set up.
        <a class="em-link" title="set up a new connection" href="/connection">Set up a connection first.</a>
    </span>
{% else %}
    <select class="em-input" name="task-query-ftp">
        <option disabled="disabled" {% if not t %}selected="selected"{% endif %}>
            Choose one
        </option>
        {% for s in ftp_query %}
            <option value="{{ s.id }}" {% if t and t.query_ftp_id == s.id %}selected="selected"{% endif %}>
                {{ s.name }}
            </option>
        {% endfor %}
    </select>
{% endif %}
