<div class="em-inputTtl">Connection Name</div>
{% if database_source|length ==0 %}
	<span class="em-error">There are no connections set up. <a class="em-link" href="/connection">Set up a connection first.</a></span>
{% else %}
	<select class="em-input" name="task-source-database">
		<option disabled {% if not t %} selected="selected" {% endif %}>Choose one</option>
		{% for s in database_source %}
			<option value="{{ s.id }}" {% if t and t.source_database_id == s.id %}selected{% endif %}>{{ s.name }}</option>
		{% endfor %}
	</select>
{% endif %}