[Unit]
Description=Atlas Automation Hub Scheduler / Gunicorn
After=network.target

[Service]
User=webapp
Group=www-data
WorkingDirectory=/home/websites/atlas_hub/hash
Environment="PATH=/home/websites/atlas_hub/hash/.venv/bin"
ExecStart=/home/websites/atlas_hub/hash/.venv/bin/gunicorn --worker-class=gevent --workers 1 --threads 30 --timeout 999999999 --access-logfile /home/websites/atlas_hub/hash/scheduler/logs/gunicorn-access.log --error-logfile /home/websites/atlas_hub/hash/scheduler/logs/gunicorn-error.log --capture-output --bind  unix:atlas_hub_scheduler.sock --umask 007 scheduler:app 

[Install]
WantedBy=multi-user.target
