{#
    Extract Management 2.0
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see https://www.gnu.org/licenses/.
#}


{% extends "layout.html.j2" %}

{% block css %}
    {% assets "css_connections" %}
    <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    {% assets "css_prism" %}
    <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock css %}

{% block js %}
    {% assets "js_connections" %}
    <script type="text/javascript" src="{{ ASSET_URL }}" ></script>
    {% endassets %}

    {% assets "js_prism" %}
    <script type="text/javascript" src="{{ ASSET_URL }}" ></script>
    {% endassets %}
{% endblock js %}

{% block body %}

    <!-- page title -->
    <h1 class="em-title">Connection Groups</h1>

    <!-- collapse title for new connection group -->
    <div class="em-drop" data-toggle="clps" data-target="#new_connection">New Connection Group<svg class="em-dropIcon" viewbox="0 0 320 512" xmlns="http://www.w3.org/2000/svg"><path d="m143 352.3-136-136c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/></svg>
    </div>

    <!-- collapse for new connection group -->
    <div class="clps" id="new_connection">
        <div class="em-dropBody">
            <form method="post" action="/connection/new">

                <div class="em-inputTtl">Name</div>
                <input class="em-input" type="text" name="name" autocomplete="off"   required="required"/>

                <div class="em-inputTtl">Description</div>
                <input class="em-input" type="text" name="desc" autocomplete="off"  required="required"/>

                <div class="em-inputTtl">Address</div>
                <input class="em-input" type="text" name="addr" autocomplete="off" />

                <div class="em-inputTtl">Primary Contact</div>
                <input class="em-input" type="text" name="contact" autocomplete="off" />

                <div class="em-inputTtl">Email Address</div>
                <input class="em-input" type="text" name="email" autocomplete="off" />

                <div class="em-inputTtl">Phone</div>
                <input class="em-input" type="text" name="phone" autocomplete="off" />

                <!-- add sftp connection to new group -->
                <h2 class="em-sectionTitle">SFTP Connections</h2>
                <div id="em-elementGroupSftp">
                    {% include "pages/connection/type/sftp.html.j2" %}
                </div>

                <div class="em-addElement" id="connections-addSftp"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>Add SFTP Connection</div>

                <!-- add stp connection to new group -->
                <h2 class="em-sectionTitle">FTP Connections</h2>
                <div id="em-elementGroupFtp">
                    {% include "pages/connection/type/ftp.html.j2" %}
                </div>

                <div class="em-addElement" id="connections-addFtp"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>Add FTP Connection</div>

                <!-- add smb connection to new group -->
                <h2 class="em-sectionTitle">SMB (Network Folder) Connections</h2>
                <div id="em-elementGroupSmb">
                    {% include "pages/connection/type/smb.html.j2" %}
                </div>

                <div class="em-addElement" id="connections-addSmb"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>Add SMB (Network Folder) Connection</div>

                <!-- add database connection to new group -->
                <h2 class="em-sectionTitle">Database Connections</h2>

                <div id="em-elementGroupDatabase">
                    {% include "pages/connection/type/database.html.j2" %}
                </div>

                <div class="em-addElement" id="connections-addDatabase"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>Add Database Connection</div>

                <!-- add ssh connection to new group -->
                <h2 class="em-sectionTitle">SSH Connections</h2>

                <div id="em-elementGroupSsh">
                    {% include "pages/connection/type/ssh.html.j2" %}
                </div>

                <div class="em-addElement" id="connections-addSsh"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>Add SSH Connection</div>

                <!-- submit new connection group -->
                <input class="em-submit" type="submit" value="Add connection" />
            </form>
        </div>
    </div>

    {% if connections|length == 0 %}<div style="margin-top:15px;">No existing connections.</div>{% endif %}

    <!-- existing connections -->
    {% for d in connections %}
        <div class="em-dropLight" data-toggle="clps" data-target="#s-{{ d.id }}">{{ d.name }}<svg class="em-dropIcon" viewbox="0 0 320 512" xmlns="http://www.w3.org/2000/svg"><path d="m143 352.3-136-136c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/></svg>
        </div>

        <div class="clps" id="s-{{ d.id }}">
            <div class="em-dropBody">

                <!-- contact information -->
                <div class="em-tools">
                    <a title="Edit Connection" href="/connection/{{ d.id }}">
                        <svg viewbox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1c18.8 18.7 18.8 49.1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM124.1 339.9c-5.5-5.5-5.5-14.3 0-19.8l154-154c5.5-5.5 14.3-5.5 19.8 0s5.5 14.3 0 19.8l-154 154c-5.5 5.5-14.3 5.5-19.8 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z"/></svg>
                    </a>
                    <a title="Delete Connection" href="/connection/remove/{{ d.id }}">
                        <svg viewbox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z"/></svg>
                    </a>
                </div>

                {% if d.description %}<p>{{ d.description }}</p>{% endif %}
                {% if d.address %}Address: {{ d.address }}{% endif %}
                {% if d.primary_contact %}Primary Contact: <em>{{ d.primary_contact }}</em> {% endif %}{% if d.primary_contact_email %}Email: <a class="em-link" href="mailto:{{ d.primary_contact_email }}"><em>{{ d.primary_contact_email }}</em></a> {% endif %}{% if d.primary_contact_phone %}Phone: <em>{{ d.primary_contact_phone }}</em>{% endif %}


                <!-- sftp connections -->
                {% if d.sftp|length > 0 %}
                    <h3>SFTP Connections</h3>
                    {% for s in d.sftp %}
                        <h4>{{ s.name }}</h4>

                        <div class="em-code">{{ s.address }}:{{ s.port or '22' }}
                            <br />{{ s.path|clean_path }}
                            <br />user: {{ s.username }}
                            <br />ssh key: {% if s.key and s.key != "" %}connecting using ssh key{% endif %}
                            <br />pass: <input type="password" class="em-inputPlain" disabled="true" value="{{ s.password|decrypt }}" style="width:{{ s.password|decrypt|length * 6 }}px;cursor: text;"/>
                            <a class="em-inputPlainCopy" title="copy password" data-value="{{ s.password|decrypt }}" href=""><svg viewbox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M320 448v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24V120c0-13.255 10.745-24 24-24h72v296c0 30.879 25.121 56 56 56h168zm0-344V0H152c-13.255 0-24 10.745-24 24v368c0 13.255 10.745 24 24 24h272c13.255 0 24-10.745 24-24V128H344c-13.2 0-24-10.8-24-24zm120.971-31.029L375.029 7.029A24 24 0 0 0 358.059 0H352v96h96v-6.059a24 24 0 0 0-7.029-16.97z"/></svg>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}

                <!-- ftp connections -->
                {% if d.ftp|length > 0 %}
                    <h3>FTP Connections</h3>
                    {% for s in d.ftp %}
                        <h4>{{ s.name }}</h4>
                        <div class="em-code">{{ s.address }}
                            <br />{{ s.path|clean_path }}
                            <br />user: {{ s.username }}
                            <br />pass: <input type="password" class="em-inputPlain" disabled="true" value="{{ s.password|decrypt }}" style="width:{{ s.password|decrypt|length * 6 }}px;cursor: text;"/>
                            <a class="em-inputPlainCopy" title="copy password" data-value="{{ s.password|decrypt }}" href=""><svg viewbox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M320 448v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24V120c0-13.255 10.745-24 24-24h72v296c0 30.879 25.121 56 56 56h168zm0-344V0H152c-13.255 0-24 10.745-24 24v368c0 13.255 10.745 24 24 24h272c13.255 0 24-10.745 24-24V128H344c-13.2 0-24-10.8-24-24zm120.971-31.029L375.029 7.029A24 24 0 0 0 358.059 0H352v96h96v-6.059a24 24 0 0 0-7.029-16.97z"/></svg>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}

                {# smb connection #}
                {% if d.smb|length > 0 %}
                    <h3>SMB (Network Folder) Connections</h3>
                    {% for s in d.smb %}
                        <h4>{{ s.name }}</h4>
                        <div class="em-code">{{ s.server_name }} ({{ s.server_ip }})
                            <br />{{ s.share_name }}/{{ s.path|clean_path }}
                            <br />user: {{ s.username }}
                            <br />pass: <input type="password" class="em-inputPlain" disabled="true" value="{{ s.password|decrypt }}" style="width:{{ s.password|decrypt|length * 6 }}px;cursor: text;"/>
                            <a class="em-inputPlainCopy" title="copy password" data-value="{{ s.password|decrypt }}" href=""><svg viewbox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M320 448v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24V120c0-13.255 10.745-24 24-24h72v296c0 30.879 25.121 56 56 56h168zm0-344V0H152c-13.255 0-24 10.745-24 24v368c0 13.255 10.745 24 24 24h272c13.255 0 24-10.745 24-24V128H344c-13.2 0-24-10.8-24-24zm120.971-31.029L375.029 7.029A24 24 0 0 0 358.059 0H352v96h96v-6.059a24 24 0 0 0-7.029-16.97z"/></svg>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}

                {# ssh connection #}
                {% if d.ssh|length > 0 %}
                    <h3>SSH Connections</h3>
                    {% for s in d.ssh %}
                        <h4>{{ s.name }}</h4>
                        <div class="em-code">{{ s.address }}:{{ s.port or '22' }}
                            <br />user: {{ s.username }}
                            <br />pass: <input type="password" class="em-inputPlain" disabled="true" value="{{ s.password|decrypt }}" style="width:{{ s.password|decrypt|length * 6 }}px;cursor: text;"/>
                            <a class="em-inputPlainCopy" title="copy password" data-value="{{ s.password|decrypt }}" href=""><svg viewbox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M320 448v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24V120c0-13.255 10.745-24 24-24h72v296c0 30.879 25.121 56 56 56h168zm0-344V0H152c-13.255 0-24 10.745-24 24v368c0 13.255 10.745 24 24 24h272c13.255 0 24-10.745 24-24V128H344c-13.2 0-24-10.8-24-24zm120.971-31.029L375.029 7.029A24 24 0 0 0 358.059 0H352v96h96v-6.059a24 24 0 0 0-7.029-16.97z"/></svg>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}

                {# database connections #}
                {% if d.database|length > 0 %}
                    <h3>Database Connections</h3>
                    {% for s in d.database %}
                        <h4>{{ s.name }}</h4>
                        <pre>
<code class="language-bash"># {{ s.database_type.name }}
{{ s.connection_string|decrypt }}</code>
                        </pre>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock body %}
