<!-- sftp connections -->
{% if d.sftp|length > 0 %}
    <h3>SFTP Connections</h3>
    {% for s in d.sftp %}
        <h4>{{ s.name }}</h4>
        <div class="em-code">
            {{ s.address }}:{{ s.port or '22' }}
            <br />
            {{ s.path|clean_path }}
            <br />
            user: {{ s.username }}
            {% if s.key and s.key != "" %}
                <pre>
{{ s.key|decrypt }}
                </pre>
            {% endif %}
            <br />
            pass:
            <input type="password"
                   class="em-inputPlain"
                   disabled="true"
                   value="{{ s.password|decrypt }}"
                   style="width:{{ s.password|decrypt|length * 6 }}px;cursor: text;"/>
            <a class="em-inputPlainCopy" title="copy password" data-value="{{ s.password|decrypt }}" href="">
                <svg viewbox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                    <path d="M320 448v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24V120c0-13.255 10.745-24 24-24h72v296c0 30.879 25.121 56 56 56h168zm0-344V0H152c-13.255 0-24 10.745-24 24v368c0 13.255 10.745 24 24 24h272c13.255 0 24-10.745 24-24V128H344c-13.2 0-24-10.8-24-24zm120.971-31.029L375.029 7.029A24 24 0 0 0 358.059 0H352v96h96v-6.059a24 24 0 0 0-7.029-16.97z"/>
                </svg>
            </a>
        </div>
    {% endfor %}
{% endif %}
<!-- ftp connections -->
{% if d.ftp|length > 0 %}
    <h3>FTP Connections</h3>
    {% for s in d.ftp %}
        <h4>{{ s.name }}</h4>
        <div class="em-code">
            {{ s.address }}
            <br />
            {{ s.path|clean_path }}
            <br />
            user: {{ s.username }}
            <br />
            pass:
            <input type="password"
                   class="em-inputPlain"
                   disabled="true"
                   value="{{ s.password|decrypt }}"
                   style="width:{{ s.password|decrypt|length * 6 }}px;cursor: text;"/>
            <a class="em-inputPlainCopy" title="copy password" data-value="{{ s.password|decrypt }}" href="">
                <svg viewbox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                    <path d="M320 448v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24V120c0-13.255 10.745-24 24-24h72v296c0 30.879 25.121 56 56 56h168zm0-344V0H152c-13.255 0-24 10.745-24 24v368c0 13.255 10.745 24 24 24h272c13.255 0 24-10.745 24-24V128H344c-13.2 0-24-10.8-24-24zm120.971-31.029L375.029 7.029A24 24 0 0 0 358.059 0H352v96h96v-6.059a24 24 0 0 0-7.029-16.97z"/>
                </svg>
            </a>
        </div>
    {% endfor %}
{% endif %}
{# smb connection #}
{% if d.smb|length > 0 %}
    <h3>SMB (Network Folder) Connections</h3>
    {% for s in d.smb %}
        <h4>{{ s.name }}</h4>
        <div class="em-code">
            {{ s.server_name }} ({{ s.server_ip }})
            <br />
            {{ s.share_name }}/{{ s.path|clean_path }}
            <br />
            user: {{ s.username }}
            <br />
            pass:
            <input type="password"
                   class="em-inputPlain"
                   disabled="true"
                   value="{{ s.password|decrypt }}"
                   style="width:{{ s.password|decrypt|length * 6 }}px;cursor: text;"/>
            <a class="em-inputPlainCopy" title="copy password" data-value="{{ s.password|decrypt }}" href="">
                <svg viewbox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                    <path d="M320 448v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24V120c0-13.255 10.745-24 24-24h72v296c0 30.879 25.121 56 56 56h168zm0-344V0H152c-13.255 0-24 10.745-24 24v368c0 13.255 10.745 24 24 24h272c13.255 0 24-10.745 24-24V128H344c-13.2 0-24-10.8-24-24zm120.971-31.029L375.029 7.029A24 24 0 0 0 358.059 0H352v96h96v-6.059a24 24 0 0 0-7.029-16.97z"/>
                </svg>
            </a>
        </div>
    {% endfor %}
{% endif %}
{# ssh connection #}
{% if d.ssh|length > 0 %}
    <h3>SSH Connections</h3>
    {% for s in d.ssh %}
        <h4>{{ s.name }}</h4>
        <div class="em-code">
            {{ s.address }}:{{ s.port or '22' }}
            <br />
            user: {{ s.username }}
            <br />
            pass:
            <input type="password"
                   class="em-inputPlain"
                   disabled="true"
                   value="{{ s.password|decrypt }}"
                   style="width:{{ s.password|decrypt|length * 6 }}px;cursor: text;"/>
            <a class="em-inputPlainCopy" title="copy password" data-value="{{ s.password|decrypt }}" href="">
                <svg viewbox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                    <path d="M320 448v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24V120c0-13.255 10.745-24 24-24h72v296c0 30.879 25.121 56 56 56h168zm0-344V0H152c-13.255 0-24 10.745-24 24v368c0 13.255 10.745 24 24 24h272c13.255 0 24-10.745 24-24V128H344c-13.2 0-24-10.8-24-24zm120.971-31.029L375.029 7.029A24 24 0 0 0 358.059 0H352v96h96v-6.059a24 24 0 0 0-7.029-16.97z"/>
                </svg>
            </a>
        </div>
    {% endfor %}
{% endif %}
