{#
    Extract Management 2.0
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see https://www.gnu.org/licenses/.
#}

{% extends "layout.html.j2" %}

{% block css %}
    {% assets "css_connections" %}
    <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock css %}

{% block js %}
    {% assets "js_connections" %}
    <script type="text/javascript" src="{{ ASSET_URL }}" ></script>
    {% endassets %}
{% endblock js %}

{% block body %}
    <h1 class="em-title">Edit Connection</h1>

    <form method="post" action="/connection/{{ connection.id }}">

        <div class="em-inputTtl">Name</div>
        <input class="em-input" type="text" name="name" autocomplete="off" value="{{ connection.name }}" />

        <div class="em-inputTtl">Description - A little knowledge is a dangerous thing!</div>
        <input class="em-input" type="text" name="desc" autocomplete="off" value="{{ connection.description }}" />

        <div class="em-inputTtl">Address</div>
        <input class="em-input" type="text" name="addr" autocomplete="off" value="{{ connection.address }}" />

        <div class="em-inputTtl">Primary Contact</div>
        <input class="em-input" type="text" name="contact" autocomplete="off" value="{{ connection.primary_contact }}" />

        <div class="em-inputTtl">Email Address</div>
        <input class="em-input" type="text" name="email" autocomplete="off" value="{{ connection.primary_contact_email }}" />

        <div class="em-inputTtl">Phone</div>
        <input class="em-input" type="text" name="phone" autocomplete="off" value="{{ connection.primary_contact_phone }}" />

        <!-- SFTP Connections -->
        <h2 class="em-sectionTitle">SFTP Connections</h2>
        <div id="em-elementGroupSftp">
            {% for s in connection.sftp %}
                <div class="em-drop" data-toggle="clps" data-target="#sftp{{ s.id }}" data-sftp="{{ s.id }}">
                    {{ s.name }}
                    <svg class="em-dropIcon" viewbox="0 0 320 512" xmlns="http://www.w3.org/2000/svg"><path d="m143 352.3-136-136c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/></svg>
                </div>

                <div class="clps" id="sftp{{ s.id }}">
                    <div class="em-dropBody">
                        <div class="em-tools">
                            <a href="/connection/{{ connection.id }}/removeSftp/{{ s.id }}" title="Remove SFTP">
                                <svg viewbox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z"/></svg>
                            </a>
                        </div>

                        <div class="em-inputTtl">Name (ex: My fav connection)</div>
                        <input class="em-input" type="text" name="sftp{{ s.id }}-name" value="{{ s.name }}"/>

                        <div class="em-inputTtl">Address (ex: sftp.google.com)</div>
                        <input class="em-input" type="text" name="sftp{{ s.id }}-addr" value="{{ s.address }}"/>

                        <div class="em-inputTtl">Port (ex: 22 (22 is default SFTP port))</div>
                        <input class="em-input" type="text" name="sftp{{ s.id }}-port" value="{{ s.port or 22 }}"/>

                        <div class="em-inputTtl">Path (ex: /path/to/outer/space)</div>
                        <input class="em-input" type="text" name="sftp{{ s.id }}-path" value="{{ s.path }}"/>

                        <div class="em-inputTtl">Username (ex: joe-cool)</div>
                        <input class="em-input" type="text" name="sftp{{ s.id }}-user" value="{{ s.username }}"/>

                        <div class="em-inputTtl">SSH Key</div>
                        <textarea class="em-input" type="text" name="sftp{{ s.id }}-key" rows="2">{{ s.key|decrypt or "" }}</textarea>

                        <div class="em-inputTtl">Password (ex: d0n't4g@!)</div>
                        <input class="em-input" type="password" name="sftp{{ s.id }}-pass" value="{{ s.password|decrypt }}"/>

                        <button class="em-showPass" type="button" data-toggle="password" style="float:right" data-target="sftp{{ s.id }}-pass">
                            <svg viewbox="0 0 640 512" xmlns="http://www.w3.org/2000/svg"><path d="M320 400c-75.85 0-137.25-58.71-142.9-133.11L72.2 185.82c-13.79 17.3-26.48 35.59-36.72 55.59a32.35 32.35 0 0 0 0 29.19C89.71 376.41 197.07 448 320 448c26.91 0 52.87-4 77.89-10.46L346 397.39a144.13 144.13 0 0 1-26 2.61zm313.82 58.1l-110.55-85.44a331.25 331.25 0 0 0 81.25-102.07 32.35 32.35 0 0 0 0-29.19C550.29 135.59 442.93 64 320 64a308.15 308.15 0 0 0-147.32 37.7L45.46 3.37A16 16 0 0 0 23 6.18L3.37 31.45A16 16 0 0 0 6.18 53.9l588.36 454.73a16 16 0 0 0 22.46-2.81l19.64-25.27a16 16 0 0 0-2.82-22.45zm-183.72-142l-39.3-30.38A94.75 94.75 0 0 0 416 256a94.76 94.76 0 0 0-121.31-92.21A47.65 47.65 0 0 1 304 192a46.64 46.64 0 0 1-1.54 10l-73.61-56.89A142.31 142.31 0 0 1 320 112a143.92 143.92 0 0 1 144 144c0 21.63-5.29 41.79-13.9 60.11z"/></svg>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="em-addElement" id="connections-addSftp">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>
            Add SFTP Connection
        </div>

        <!-- FTP Connections -->
        <h2 class="em-sectionTitle">FTP Connections</h2>
        <div id="em-elementGroupFtp">
            {% for s in connection.ftp %}
                <div class="em-drop" data-toggle="clps" data-target="#ftp{{ s.id }}" data-ftp="{{ s.id }}">
                    {{ s.name }}
                    <svg class="em-dropIcon" viewbox="0 0 320 512" xmlns="http://www.w3.org/2000/svg"><path d="m143 352.3-136-136c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/></svg>
                </div>

                <div class="clps" id="ftp{{ s.id }}">
                    <div class="em-dropBody">
                        <div class="em-tools">
                            <a href="/connection/{{ connection.id }}/removeFtp/{{ s.id }}" title="Remove FTP">
                                <svg viewbox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z"/></svg>
                            </a>
                        </div>

                        <div class="em-inputTtl">Name (ex: My fav connection)</div>
                        <input class="em-input" type="text" name="ftp{{ s.id }}-name" value="{{ s.name }}"/>

                        <div class="em-inputTtl">Address (ex: ftp.google.com)</div>
                        <input class="em-input" type="text" name="ftp{{ s.id }}-addr" value="{{ s.address }}"/>

                        <div class="em-inputTtl">Path (ex: /path/to/outer/space)</div>
                        <input class="em-input" type="text" name="ftp{{ s.id }}-path" value="{{ s.path }}"/>

                        <div class="em-inputTtl">Username (ex: joe-cool)</div>
                        <input class="em-input" type="text" name="ftp{{ s.id }}-user" value="{{ s.username }}"/>

                        <div class="em-inputTtl">Password (ex: d0n't4g@!)</div>
                        <input class="em-input" type="password" name="ftp{{ s.id }}-pass" value="{{ s.password|decrypt }}"/>

                        <button class="em-showPass" type="button" data-toggle="password" style="float:right" data-target="ftp{{ s.id }}-pass">
                            <svg viewbox="0 0 640 512" xmlns="http://www.w3.org/2000/svg"><path d="M320 400c-75.85 0-137.25-58.71-142.9-133.11L72.2 185.82c-13.79 17.3-26.48 35.59-36.72 55.59a32.35 32.35 0 0 0 0 29.19C89.71 376.41 197.07 448 320 448c26.91 0 52.87-4 77.89-10.46L346 397.39a144.13 144.13 0 0 1-26 2.61zm313.82 58.1l-110.55-85.44a331.25 331.25 0 0 0 81.25-102.07 32.35 32.35 0 0 0 0-29.19C550.29 135.59 442.93 64 320 64a308.15 308.15 0 0 0-147.32 37.7L45.46 3.37A16 16 0 0 0 23 6.18L3.37 31.45A16 16 0 0 0 6.18 53.9l588.36 454.73a16 16 0 0 0 22.46-2.81l19.64-25.27a16 16 0 0 0-2.82-22.45zm-183.72-142l-39.3-30.38A94.75 94.75 0 0 0 416 256a94.76 94.76 0 0 0-121.31-92.21A47.65 47.65 0 0 1 304 192a46.64 46.64 0 0 1-1.54 10l-73.61-56.89A142.31 142.31 0 0 1 320 112a143.92 143.92 0 0 1 144 144c0 21.63-5.29 41.79-13.9 60.11z"/></svg>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="em-addElement" id="connections-addFtp">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>
            Add FTP Connection
        </div>

        <!-- SMB Connections -->
        <h2 class="em-sectionTitle">SMB (Network Folder) Connections</h2>
        <div id="em-elementGroupSmb">
            {% for s in connection.smb %}
                <div class="em-drop" data-toggle="clps" data-target="#smb{{ s.id }}" data-smb="{{ s.id }}">
                    {{ s.name }}
                    <svg class="em-dropIcon" viewbox="0 0 320 512" xmlns="http://www.w3.org/2000/svg"><path d="m143 352.3-136-136c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/></svg>
                </div>
                <div class="clps" id="smb{{ s.id }}">
                    <div class="em-dropBody">
                        <div class="em-tools">
                            <a href="/connection/{{ connection.id }}/removeSmb/{{ s.id }}" title="Remove SMB">
                                <svg viewbox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z"/></svg>
                            </a>
                        </div>

                        <div class="em-inputTtl">Name (ex: My fav connection)</div>
                        <input class="em-input" type="text" name="smb{{ s.id }}-name" value="{{ s.name }}"/>

                        <div class="em-inputTtl">Server Name (ex: server_it_up)</div>
                        <input class="em-input" type="text" name="smb{{ s.id }}-server-name" value="{{ s.server_name }}"/>

                        <div class="em-inputTtl">Server IP (ex: 10.0.0.1)</div>
                        <input class="em-input" type="text" name="smb{{ s.id }}-server-ip" value="{{ s.server_ip }}"/>

                        <div class="em-inputTtl">Share Name (ex: my_drive)</div>
                        <input class="em-input" type="text" name="smb{{ s.id }}-share-name" value="{{ s.share_name }}"/>

                        <div class="em-inputTtl">Folder Path (ex: this/is/awesome)</div>
                        <input class="em-input" type="text" name="smb{{ s.id }}-path" value="{{ s.path }}"/>

                        <div class="em-inputTtl">Username (ex: joe-cool)</div>
                        <input class="em-input" type="text" name="smb{{ s.id }}-user" value="{{ s.username }}"/>

                        <div class="em-inputTtl">Password (ex: d0n't4g@!)</div>
                        <input class="em-input" type="password" name="smb{{ s.id }}-pass" value="{{ s.password|decrypt }}"/>

                        <button class="em-showPass" type="button" data-toggle="password" style="float:right" data-target="smb{{ s.id }}-pass">
                            <svg viewbox="0 0 640 512" xmlns="http://www.w3.org/2000/svg"><path d="M320 400c-75.85 0-137.25-58.71-142.9-133.11L72.2 185.82c-13.79 17.3-26.48 35.59-36.72 55.59a32.35 32.35 0 0 0 0 29.19C89.71 376.41 197.07 448 320 448c26.91 0 52.87-4 77.89-10.46L346 397.39a144.13 144.13 0 0 1-26 2.61zm313.82 58.1l-110.55-85.44a331.25 331.25 0 0 0 81.25-102.07 32.35 32.35 0 0 0 0-29.19C550.29 135.59 442.93 64 320 64a308.15 308.15 0 0 0-147.32 37.7L45.46 3.37A16 16 0 0 0 23 6.18L3.37 31.45A16 16 0 0 0 6.18 53.9l588.36 454.73a16 16 0 0 0 22.46-2.81l19.64-25.27a16 16 0 0 0-2.82-22.45zm-183.72-142l-39.3-30.38A94.75 94.75 0 0 0 416 256a94.76 94.76 0 0 0-121.31-92.21A47.65 47.65 0 0 1 304 192a46.64 46.64 0 0 1-1.54 10l-73.61-56.89A142.31 142.31 0 0 1 320 112a143.92 143.92 0 0 1 144 144c0 21.63-5.29 41.79-13.9 60.11z"/></svg>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="em-addElement" id="connections-addSmb">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>
            Add SMB (Network Folder) Connection
        </div>

        <!-- database connections -->
        <h2 class="em-sectionTitle">Database Connections</h2>
        <div id="em-elementGroupDatabase">
            {% for s in connection.database %}
                <div class="em-drop" data-toggle="clps" data-target="#database{{ s.id }}" data-database="{{ s.id }}">
                    {{ s.name }}
                    <svg class="em-dropIcon" viewbox="0 0 320 512" xmlns="http://www.w3.org/2000/svg"><path d="m143 352.3-136-136c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/></svg>
                </div>
                <div class="clps" id="database{{ s.id }}">
                    <div class="em-dropBody">
                        <div class="em-tools">
                            <a href="/connection/{{ connection.id }}/removeDatabase/{{ s.id }}" title="Remove Database">
                                <svg viewbox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z"/></svg>
                            </a>
                        </div>

                        <div class="em-inputTtl">Name (ex: My fav connection)</div>
                        <input class="em-input" type="text" name="database{{ s.id }}-name" value="{{ s.name }}"/>

                        <div class="em-inputTtl">Database Type</div>
                        <select class="em-input" name="database{{ s.id }}-type">
                            <option value="" disabled="disabled">choose one.</option>
                            {% for t in database_types %}
                                <option value="{{ t.id }}" {% if t.id == s.type_id %} selected="selected" {% endif %}>{{ t.name }}</option>
                            {% endfor %}
                        </select>

                        <div class="em-inputTtl">
                            Connection String
                            <br />
                            <div class="em-connectionExample">
                                Examples:
                                <ul>
                                    <li>SQL Server: SERVER=server_name;DATABASE=database_name;UID=username;PWD=password</li>
                                    <li>Postgres: host=server_name dbname=database_name user=username password=password</li>
                                    <li>SQLite: username:password@host,host_ip/share_name/path/to/database.sqlite</li>
                                </ul>
                            </div>
                        </div>
                        <style>
                            .Codemirror {
                                height:100px;
                            }
                        </style>
                        <textarea class="em-input database_connection_string" name="database{{ s.id }}-conn" placeholder="make sure you spell everything right ;)">{{ s.connection_string|decrypt }}</textarea>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="em-addElement" id="connections-addDatabase">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>
            Add Database Connection
        </div>

        <!-- SSH Connections -->
        <h2 class="em-sectionTitle">SSH Connections</h2>
        <div id="em-elementGroupSsh">
            {% for s in connection.ssh %}
                <div class="em-drop" data-toggle="clps" data-target="#ssh{{ s.id }}" data-ssh="{{ s.id }}">{{ s.name }}<svg class="em-dropIcon" viewbox="0 0 320 512" xmlns="http://www.w3.org/2000/svg"><path d="m143 352.3-136-136c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/></svg>
                </div>

                <div class="clps" id="ssh{{ s.id }}">
                    <div class="em-dropBody">
                        <div class="em-tools">
                            <a href="/connection/{{ connection.id }}/removeSsh/{{ s.id }}" title="Remove SSH">
                                <svg viewbox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z"/></svg>
                            </a>
                        </div>

                        <div class="em-inputTtl">Name (ex: My fav connection)</div>
                        <input class="em-input" type="text" name="ssh{{ s.id }}-name" value="{{ s.name }}"/>

                        <div class="em-inputTtl">Address (ex: ssh.google.com)</div>
                        <input class="em-input" type="text" name="ssh{{ s.id }}-addr" value="{{ s.address }}"/>

                        <div class="em-inputTtl">Port (ex: 22 (22 is default SFTP port))</div>
                        <input class="em-input" type="text" name="ssh{{ s.id }}-port" value="{{ s.port or 22 }}"/>

                        <div class="em-inputTtl">Username (ex: joe-cool)</div>
                        <input class="em-input" type="text" name="ssh{{ s.id }}-user" value="{{ s.username }}"/>

                        <div class="em-inputTtl">Password (ex: d0n't4g@!)</div>
                        <input class="em-input" type="password" name="ssh{{ s.id }}-pass" value="{{ s.password|decrypt }}"/>

                        <button class="em-showPass" type="button" data-toggle="password" style="float:right" data-target="ssh{{ s.id }}-pass">
                            <svg viewbox="0 0 640 512" xmlns="http://www.w3.org/2000/svg"><path d="M320 400c-75.85 0-137.25-58.71-142.9-133.11L72.2 185.82c-13.79 17.3-26.48 35.59-36.72 55.59a32.35 32.35 0 0 0 0 29.19C89.71 376.41 197.07 448 320 448c26.91 0 52.87-4 77.89-10.46L346 397.39a144.13 144.13 0 0 1-26 2.61zm313.82 58.1l-110.55-85.44a331.25 331.25 0 0 0 81.25-102.07 32.35 32.35 0 0 0 0-29.19C550.29 135.59 442.93 64 320 64a308.15 308.15 0 0 0-147.32 37.7L45.46 3.37A16 16 0 0 0 23 6.18L3.37 31.45A16 16 0 0 0 6.18 53.9l588.36 454.73a16 16 0 0 0 22.46-2.81l19.64-25.27a16 16 0 0 0-2.82-22.45zm-183.72-142l-39.3-30.38A94.75 94.75 0 0 0 416 256a94.76 94.76 0 0 0-121.31-92.21A47.65 47.65 0 0 1 304 192a46.64 46.64 0 0 1-1.54 10l-73.61-56.89A142.31 142.31 0 0 1 320 112a143.92 143.92 0 0 1 144 144c0 21.63-5.29 41.79-13.9 60.11z"/></svg>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="em-addElement" id="connections-addSsh">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"><path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/></svg>
            Add SSH Connection
        </div>

        <div class="em-inputTtl">Remember, all tasks using this connection will be affected!</div>
        <input class="em-submit" type="submit" value="Save Changes" />
    </form>

    <h2>Tasks using this destination</h2>

    <!-- ajax table -->
    <div class="em-ajaxTable" data-src="/table/connection/{{ connection.id }}/tasks">
        <div class="loader">
            <img src="/static/img/loader.gif" alt="loading..." title="loading image" />
        </div>
    </div>

{% endblock body %}
