{% extends "layout.html.j2" %}
{% block css %}
    {% assets "css_dashboard" %}
        <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock css %}
{% block js %}
    {% assets "js_dashboard" %}
        <script type="text/javascript" src="{{ ASSET_URL }}" ></script>
    {% endassets %}
{% endblock js %}
{% block body %}
    <!-- page title -->
    <h1 class="em-title">Dashboard</h1>
    {% include "sections/flashes.html.j2" %}
    <!-- schedule -->
    <div class="em-ajaxContent" data-src="/schedule"></div>
    <!-- guages -->
    <div class="dash-gauge">
        <div class="em-ajaxContent" data-src="/dash/errorGauge">
            <div class="loader">
                <img src="/static/img/loader.gif" alt="loading..." title="loading image" />
            </div>
        </div>
        <div class="em-ajaxContent" data-src="/dash/runGauge">
            <div class="loader">
                <img src="/static/img/loader.gif" alt="loading..." title="loading image" />
            </div>
        </div>
    </div>
    <!-- actions -->
    <section>
        <!-- tab control -->
        <div class="tab">
            <a title="errored tasks" class="tab-lnk active" href="errored">Errored Tasks</a>
            <a title="active tasks" class="tab-lnk" href="active">Active Tasks</a>
            <a title="scheduled tasks" class="tab-lnk" href="scheduled">Scheduled Tasks</a>
            <a title="orphaned tasks" class="tab-lnk" href="orphaned">Orphaned Jobs</a>
        </div>
        <!-- tab body -->
        <div class="tab-cnt">
            <div class="tab-dta active" id="errored">
                <div class="em-tools">
                    <a class="em-link" title="run all now" href="/dash/errored/run">Run all now</a>
                    <a class="em-link" title="schedule all now" href="/dash/errored/schedule">Schedule all now</a>
                </div>
                <div class="em-ajaxTable" data-theme="Exec" data-src="/table/tasks/errored">
                    <div class="loader">
                        <img src="/static/img/loader.gif" alt="loading..." title="loading image" />
                    </div>
                </div>
            </div>
            <div class="tab-dta" id="active">
                <div class="em-tools">
                    <a class="em-link" title="run all now" href="/dash/active/run">Run all now</a>
                </div>
                <div class="em-ajaxTable" data-theme="Exec" data-src="/table/tasks/active">
                    <div class="loader">
                        <img src="/static/img/loader.gif" alt="loading..." title="loading image" />
                    </div>
                </div>
            </div>
            <div class="tab-dta" id="scheduled">
                <div class="em-tools">
                    <a class="em-link" title="run all now" href="/dash/scheduled/run">Run all now</a>
                    <a class="em-link" title="reschedule all" href="/dash/scheduled/reschedule">Reschedule all</a>
                    <a class="em-link" title="disable all" href="/dash/scheduled/disable">Disable all</a>
                </div>
                <div class="em-ajaxTable" data-theme="Exec" data-src="/table/tasks/scheduled">
                    <div class="loader">
                        <img src="/static/img/loader.gif" alt="loading..." title="loading image" />
                    </div>
                </div>
            </div>
            <div class="tab-dta" id="orphaned">
                <div class="em-tools">
                    <a class="em-link" title="delete all" href="/dash/orphans/delete">Delete all</a>
                </div>
                <div class="em-ajaxTable" data-theme="Exec" data-src="/table/jobs/orphans">
                    <div class="loader">
                        <img src="/static/img/loader.gif" alt="loading..." title="loading image" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- logs -->
    <section>
        <!-- tab control -->
        <div class="tab">
            <a title="all logs" class="tab-lnk active" href="logs">All Logs</a>
            <a title="error logs" class="tab-lnk" href="errorlogs">Error Logs</a>
        </div>
        <!-- tab body -->
        <div class="tab-cnt">
            <div class="tab-dta active" id="logs">
                <div class="em-ajaxTable" data-src="/table/tasks/log">
                    <div class="loader-typing">
                        <img src="/static/img/typing.gif" alt="loading..." title="loading image" />
                    </div>
                </div>
            </div>
            <div class="tab-dta" id="errorlogs">
                <div class="em-ajaxTable" data-src="/table/tasks/errorLog">
                    <div class="loader-typing">
                        <img src="/static/img/typing.gif" alt="loading..." title="loading image" />
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}
