<div class="dash-gauge">
    <div class="gauge">
        <div class="gauge-liner"></div>
        <div class="gauge-line" style="transform: rotate({{ value_value|float/2 }}turn)"></div>
        <div class="gauge-data">
            <h1>{{ value }}</h1>
            <h2>{{ value_title }}</h2>
            {% if value_subtitle and value_subtitle != "" %}
                <h3>{{ value_subtitle }}</h3>
            {% endif %}
        </div>
    </div>
</div>
