{% if schedule and schedule_index %}
    <h2 class="em-title">Run Plan</h2>

    <div class="em-timeline">
        <div class="em-timelineScale">
            {% for index in schedule_index %}
                <div class="em-ScaleBar">
                    <span class="em-ScaleValue">{{ index }}</span>
                </div>
            {% endfor %}

            <div class="em-ScaleBar">
                <!-- blank for 0 -->
            </div>
        </div>

        <div class="em-timelineLiner">
            {% for col in schedule %}
                <div class="em-el">
                    {% if col.count > 0 %}
                        <div class="em-elBar" style="transform: scaleY({{ 13 / schedule_index[0] * col.count }})"></div>
                    {% endif %}
                    <span class="em-elLabel">{{ col.case }}</span>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
