{% extends "layout.html.j2" %}
{% block js %}
    {% assets "js_project_details" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "js_task" %}
        <script type="text/javascript" src="{{ ASSET_URL }}" ></script>
    {% endassets %}
    {% assets "js_prism" %}
        <script type="text/javascript" src="{{ ASSET_URL }}" ></script>
    {% endassets %}
{% endblock js %}
{% block css %}
    {% assets "css_project_details" %}
        <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    {% assets "css_scroll" %}
        <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    {% assets "css_prism" %}
        <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock css %}
{% block body %}
    {% if invalid == True %}
        <h1>Invalid task.</h1>
        <h2>
            Maybe try
            <a title="all tasks" class="em-titleGrey" href="/task">
                all tasks
            </a>
            ?
        </h2>
    {% else %}
        <h1 class="em-title" task_id="{{ t.id }}">
            Owner:
            {% if t.project and t.project.project_owner %}
                <a href="/project/user/{{ t.project.owner_id }}"
                   title="open {{ t.project.project_owner.full_name }}'s projects"
                   class="em-link">
                    {{ t.project.project_owner.full_name }}
                </a>
            {% else %}
                <span class="em-titleGrey">Unknown</span>
            {% endif %}
            / Project:
            {% if t.project %}
                <a class="em-titleGrey" title="open project" href="/project/{{ t.project.id }}">
                    {{ t.project.name }}
                </a>
            {% else %}
                <span class="em-titleGrey">Orphan</span>
            {% endif %}
            / Task: {{ t.name }}
            <span class="hello_status em-titleStatus {% if t.status.id == 2 %} em-error {% elif t.status.id == 1 %} em-running {% elif t.status.id == 4 %} em-success {% endif %} em-border">
                {{ t.status.name }}
            </span>
        </h1>
        {% include "pages/task/nav.html.j2" %}
        <div class="em-taskSummary">
            <div class="em-grid">
                <span class="em-gridName">Last Run</span>
                <span class="em-gridValue">
                    <span class="hello_last_run">{{ l_relative }}</span>
                    <span class="hello_last_run_abs">{{ l }}</span>
                </span>
                <span class="em-gridName">Next Run</span>
                <span class="em-gridValue">
                    {% if t.project.sequence_tasks %}
                        Task runs in a sequence. See project for next run times.
                    {% else %}
                        <span class="hello_next_run">{{ r_relative }}</span>
                        <span class="hello_next_run_abs">{{ r }}</span>
                    {% endif %}
                </span>
                {% if t.est_duration %}
                    <span class="em-gridName">Estimated Duration</span>
                    <span class="em-gridValue">{{ t.est_duration|duration }}</span>
                {% endif %}
                <span class="em-gridName">Max Retry Attempts</span>
                <span class="em-gridValue">
                    {% if t and t.max_retries is not none %}
                        {{ t.max_retries }}
                    {% else %}
                        0
                    {% endif %}
                </span>
                {% if t and t.order is not none %}
                    <span class="em-gridName">Task Run Rank</span>
                    <span class="em-gridValue">{{ t.order }}</span>
                {% endif %}
            </div>
        </div>
        <!-- tab control -->
        <div class="tab">
            <a title="data source" class="tab-lnk active" href="datasource">
                Data Source
            </a>
            <a title="task logs" class="tab-lnk" href="tasklog">
                Task Logs
            </a>
            <a title="task files" class="tab-lnk" href="taskfile">
                Task Files
            </a>
        </div>
        <!-- tab body -->
        <div class="tab-cnt">
            <div class="tab-dta active" id="datasource">
                <div class="em-grid">
                    {% include "pages/task/details_source.html.j2" %}
                </div>
                <div class="tab-dta" id="tasklog">
                    <div class="em-ajaxTable" data-src="/table/task/{{ t.id }}/log">
                        <div class="loader-typing">
                            <img src="/static/img/typing.gif" alt="loading..." title="loading image" />
                        </div>
                    </div>
                </div>
                <div class="tab-dta" id="taskfile">
                    <div class="em-ajaxTable" data-src="/table/task/{{ t.id }}/files">
                        <div class="loader-typing">
                            <img src="/static/img/typing.gif" alt="loading..." title="loading image" />
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock body %}
