<div class="box">
    {% if t.source_type_id == 1 and  t.source_database_conn %}
        <!-- source database -->
        <h2 class="title is-2">Data Source - Database Connection</h2>
        <div class="content">
            <a title="open connection"
               href="{{ url_for('connection_bp.one_connection', connection_id=t.source_database_conn.connection.id) }}">
                {{ t.source_database_conn.connection }}&#8195;
                <span class="has-text-grey-light">/</span>
                &#8195;{{ t.source_database_conn }}
            </a>
            <pre class="box"><code class="language-ini">{{ t.source_database_conn.connection_string|decrypt|database_pass }}</code></pre>
        </div>
    {% elif t.source_type_id == 3 and  t.source_sftp_conn %}
        <!-- source SFTP -->
        <h2 class="title is-2">Data Source - SFTP Connection</h2>
        <div class="content">
            <ul>
                <li>
                    Filename:
                    <span class="tag is-info is-light">{{ t.source_sftp_file }}</span>
                </li>
                {% if t.source_sftp_ignore_delimiter != 1 and t.source_sftp_delimiter %}
                    <li>
                        Delimiter:
                        <span class="tag is-info is-light">{{ t.source_sftp_delimiter or "," }}</span>
                    </li>
                {% endif %}
            </ul>
        </div>
        <a title="open connection"
           href="{{ url_for('connection_bp.one_connection', connection_id=t.source_sftp_conn.connection.id) }}">
            {{ t.source_sftp_conn.connection.name }}&#8195;
            <span class="has-text-grey-light">/</span>
            &#8195;{{ t.source_sftp_conn.name }}
        </a>
        <pre class="box"><code class="language-bash">{{ t.source_sftp_conn.username }}@{{ t.source_sftp_conn.address }}:{{ t.source_sftp_conn.port or '22' }}&nbsp;{{ t.source_sftp_conn.path|clean_path }}{{ t.source_sftp_file }}</code></pre>
    {% elif t.source_type_id == 4 and t.source_ftp_conn %}
        <!-- source FTP -->
        <h2 class="title is-2">Data Source - FTP Connection</h2>
        <div class="content">
            <ul>
                <li>
                    Filename:
                    <span class="tag is-info is-light">{{ t.source_ftp_file }}</span>
                </li>
                {% if t.source_ftp_ignore_delimiter != 1 and t.source_ftp_delimiter %}
                    <li>
                        Delimiter:
                        <span class="tag is-info is-light">{{ t.source_ftp_delimiter or "," }}</span>
                    </li>
                {% endif %}
            </ul>
        </div>
        <a title="open connection"
           href="{{ url_for('connection_bp.one_connection', connection_id=t.source_ftp_conn.connection.id) }}">
            {{ t.source_ftp_conn.connection.name }}&#8195;
            <span class="has-text-grey-light">/</span>
            &#8195;{{ t.source_ftp_conn.name }}
        </a>
        <pre class="box"><code class="language-ini">{{ t.source_ftp_conn.username }}@{{ t.source_ftp_conn.address|clean_address }}&nbsp;{{ t.source_ftp_conn.path|clean_path }}{{ t.source_ftp_file }}
        </code></pre>
{% elif t.source_type_id == 2 and t.source_smb_conn %}
    <!-- source SMB -->
    <h2 class="title is-2">Data Source - SMB Connection</h2>
    <div class="content">
        <ul>
            <li>
                Filename:
                <span class="tag is-info is-light">{{ t.source_smb_file }}</span>
            </li>
            {% if t.source_smb_ignore_delimiter != 1 and t.source_smb_delimiter %}
                <li>
                    Delimiter:
                    <span class="tag is-info is-light">{{ t.source_smb_delimiter or "," }}</span>
                </li>
            {% endif %}
        </ul>
    </div>
    <a title="open connection"
       href="{{ url_for('connection_bp.one_connection', connection_id=t.source_smb_conn.connection.id) }}">
        {{ t.source_smb_conn.connection.name }}&#8195;
        <span class="has-text-grey-light">/</span>
        &#8195;{{ t.source_smb_conn.name }}
    </a>
    <pre class="box"><code class="language-ini">smb://{{ t.source_smb_conn.username }}:...@{{ t.source_smb_conn.server_ip }}({{ t.source_smb_conn.server_name }})/{{ t.source_smb_conn.share_name }}/{{ t.source_smb_conn.path|clean_path }}{{ t.source_smb_file }}</code></pre>
{% elif t.source_type_id == 6 and t.source_ssh_conn %}
    <!-- source Ssh -->
    <h2 class="title is-2">Data Source - SSH Connection</h2>
    <a title="open connection"
       href="{{ url_for('connection_bp.one_connection', connection_id=t.source_ssh_conn.connection.id) }}">
        {{ t.source_ssh_conn.connection.name }}&#8195;
        <span class="has-text-grey-light">/</span>
        &#8195;{{ t.source_ssh_conn.name }}
    </a>
    <pre class="box"><code class="language-bash">{{ t.source_ssh_conn.username }}@{{ t.source_ssh_conn.address }}:{{ t.source_ssh_conn.port or '22' }}</code></pre>
{% endif %}
</div>
