<div class="em-inputTtl">
    Connection Name
</div>
{% if sftp_processing|length ==0 %}
    <span class="em-error">
        There are no connections set up.
        <a class="em-link" title="set up a new connection" href="/connection">
            Set up a connection first.
        </a>
    </span>
{% else %}
    <select class="em-input" name="task-processing-sftp">
        <option disabled="disabled" {% if not t %}selected="selected"{% endif %}>
            Choose one
        </option>
        {% for s in sftp_processing %}
            <option value="{{ s.id }}" {% if t and t.processing_sftp_id == s.id %} selected="selected" {% endif %}>
                {{ s.name }}
            </option>
        {% endfor %}
    </select>
{% endif %}
